<% if @channels.any? %>
	$("#partial_channel_list").html("<%= j (render 'channels/channels', :channels => @channels) %>");
<% else %>
	$("#partial_channel_list").html("<label>No Channels found.</label>");
<% end %>