<div class="lazuli-container">
  <%= render 'shared/shared_header'%>
  <%= render 'shared/user_actions' %>
  <% if @videos.any? %>
	  <%= form_for @videos, :url => remove_watch_lists_path, :remote => true, :method => :post, :html =>{ :id => "remove_videos" }  do |f| %>
			<%= render 'shared/shared', :objects => @videos %>
		<% end %>
	<% end %>
</div> <!-- container ends -->