<section class="container">
	<div class="row">
		<div class="col-md-12 nopadding">
			<% if can? :create, Course %>
			  <a href= "courses/new" class="btn btn-default btn-success pull-right" rel="tooltip" title="Add New Course"><i class="fa fa-3x fa-plus"></i> Add New Course</a>
			<% end %>
		</div>
		<div class="seperator5"></div>
		<div class="portlet-body flip-scroll">
		<table class="table table-bordered table-striped table-condensed flip-content table-hover" id="courses_list">
			<thead class="flip-content">
				<tr>
			      <th width="20%">Course Name</th>			      
			      <th width="20%">Channel Name</th>
			      <th width="20%">Course Admin</th>
			      <th width="15%">Number of Users</th>
			      <th width="20%">Trainer Name</th>
			      <th width="5%">Action</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
		</div>
	</div>
</section>

<script>
	$(document).ready(function(){
		var tableId = '#courses_list';
		var url = "/admin/courses/search.json";
		var aoColumns = [{ "mData": "title"},
		{ "mData": "channel_name"},
		{ "mData": "course_admin_user"},
		{ "mData": "user_count", "sClass" : "text-center"},
		{ "mData": "courses_trainer_name", "bSortable": false},
		{ "mData": "actions", "bSortable": false, "sClass" : "text-center" }];
		var optionNames = ["Course Name", "Trainer Name", "Channel Name"];
		var optionValues = ["title", "trainer_name", "channel_name"];
		loadContents(tableId, url, aoColumns, optionNames, optionValues);
	})
</script>