<div class="col-md-12">
	<a href= "courses/new" class="btn btn-default btn-success pull-right" rel="tooltip" title="Add New Course"><i class="fa fa-3x fa-plus"></i> Add New Course</a>
</div>
<section class="container">
	<div class="row">
		<div class="seperator5"></div>
		<div class="portlet-body flip-scroll">
		<table class="table table-bordered table-striped table-condensed flip-content table-hover" id="courses_list">
			<thead class="flip-content">
				<tr>
			      <th width="30%">Course</th>
			      <th width="25%">Trainer Name</th>
			      <th width="25%">Channel Name</th>
			      <th width="10%">Number of Users</th>
			      <th width="10%">Action</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
		</div>
	</div>
</section>

<script>
  $('#courses_list').dataTable({
    "bProcessing": true,
    "bServerSide": true,
    "iDisplayLength": 15,
    "bLengthChange": false,
    "sAjaxSource": "/admin/courses/search.json",
    "aoColumns": [
            { "mData": "name"},
            { "mData": "trainer_name"},
            { "mData": "channel_name"},
            { "mData": "user_count"},
            { "mData": "actions", "bSortable": false }
        ] });
</script>