<div class="row">
  <div class="seperator5"></div>
  <div class="portlet-body flip-scroll">
    <table class="table table-bordered table-striped table-condensed flip-content table-hover" id="topic_contents">
      <thead class="flip-content">
        <tr>
          <th>Topic Name</th>
          <th>Course</th>
          <th>Channel Name</th>
          <th>Vimeo URL</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>
</div>

<script>
  $('#topic_contents').dataTable({
    "bProcessing": true,
    "bServerSide": true,
    "iDisplayLength": 15,
    "bLengthChange": false,
    "sAjaxSource": "/admin/topics/search.json",
    "aoColumns": [
            { "mData": "title"},
            { "mData": "course_name"},
            { "mData": "channel_name"},
            { "mData": "vimeo_url"},
            { "mData": "actions", "bSortable": false}
        ] });
</script>

