<div class="row">
	<div class="col-md-12">
  	<a href = "topics/new" class="btn btn-default btn-success pull-right"><i class="fa fa-3x fa-plus"></i> Add New Module
  	</a>
	</div>
</div>
<section class="container">
	<div class="row">
		<div class="seperator5"></div>
		<div class="portlet-body flip-scroll">
			<table class="table table-bordered table-striped table-condensed flip-content table-hover" id="sample_2">
				<thead class="flip-content">
					<tr>
				      <th>Module Name<i class="fa fa-3x fa-filter pull-right"></i></th>
				      <th>Course<i class="fa fa-3x fa-filter pull-right"></i></th>
				      <th>Partner Name</th>
				      <th>Vimeo URL</th>
				      <th>Action</th>
					</tr>
				</thead>
				<tbody>
					<% @topics.each do |topic|%>
					<tr>
				      <td><%= topic.title %></td>
				      <td><%#= topic.course.name %></td>
				      <td><%#= topic.course.channels.first.name %></td>
				      <td>http://vimeo.com/url<span></span></td>
				      <td><a href="/admin/topics/<%= topic.id %>/edit"><i class="fa fa-3x fa-edit"></i></a><a href="/admin/topics/<%= topic.id %>" data-method="delete" data-confirm="Are you sure you want to delete?"><i class="fa fa-3x fa-ban pull-right"></i></a></td>
					</tr>


					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</section>