<div class="row">
	<div class="col-md-12">
  	<a href="#file-upload" data-toggle="modal" class="btn btn-default btn-success pull-right"><i class="fa fa-3x fa-plus"></i> Add New Video</a>
	</div>
</div>
<section class="container">
	<div class="row">
		<div class="seperator5"></div>
		<div class="portlet-body flip-scroll">
			<table class="table table-bordered table-striped table-condensed flip-content table-hover" id="sample_1">
				<thead class="flip-content">
					<tr>
				      <th>Title</th>
				      <th>Module Name<i class="fa fa-3x fa-filter pull-right"></i></th>
				      <th>Course<i class="fa fa-3x fa-filter pull-right"></i></th>
				      <th>Tags<i class="fa fa-3x fa-filter pull-right"></i></th>
				      <th>Channels</th>
				      <th>Vimeo URL</th>
				      <th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					  <td>Selecting a cell</td>
				      <td>Navigating and Selecting</td>
				      <td>Excel</td>
				      <td>Excel, Selecting, Cells</td>
				      <td>Global Study Inc.</td>
				      <td>http://vimeo.com/url<span></span></td>
				      <td><a href="#"><i class="fa fa-3x fa-edit"></i></a><a href="#"><i class="fa fa-3x fa-ban pull-right"></i></a></td>
					</tr>
					<tr>
					  <td>Selecting a cell</td>
				      <td>Navigating and Selecting</td>
				      <td>Excel</td>
				      <td>Excel, Selecting, Cells</td>
				      <td>Global Study Inc.</td>
				      <td>http://vimeo.com/url<span></span></td>
				      <td><a href="#"><i class="fa fa-3x fa-edit"></i></a><a href="#"><i class="fa fa-3x fa-ban pull-right"></i></a></td>
					</tr>
					<tr>
					  <td>Changing Units</td>
				      <td>Graphs</td>
				      <td>Excel</td>
				      <td>Excel, Units</td>
				      <td>Global Study Inc.</td>
				      <td>http://vimeo.com/url<span></span></td>
				      <td><a href="#"><i class="fa fa-3x fa-edit"></i></a><a href="#"><i class="fa fa-3x fa-ban pull-right"></i></a></td>
					</tr>
					<tr>
					  <td>Options</td>
				      <td>Graphs</td>
				      <td>Excel</td>
				      <td>Study Express</td>
				      <td>Global Study Inc.</td>
				      <td>http://vimeo.com/url<span></span></td>
				      <td><a href="#"><i class="fa fa-3x fa-edit"></i></a><a href="#"><i class="fa fa-3x fa-ban pull-right"></i></a></td>
					</tr>
					<tr>
					  <td>Alignment</td>
				      <td>Graphics</td>
				      <td>Word</td>
				      <td>Study Express</td>
				      <td>Global Study Inc.</td>
				      <td>http://vimeo.com/url</td>
				      <td><a href="#"><i class="fa fa-3x fa-edit"></i></a><a href="#"><i class="fa fa-3x fa-ban pull-right"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
<div class="modal fade" id="file-upload" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">File Upload</h4>
			</div>
			<div class="modal-body form-group">
				<div class="row">
					<div class="col-md-2">
						<label>File Type</label>
					</div>
					<div class="col-md-10">
						<label>
							<input type="radio" name="video-up-mode" id="video-up-mode1" value="multiple-upload">Multiple Video Upload
						</label><br>
						<label>
							<input type="radio" name="video-up-mode" id="video-up-mode2" value="single-upload">Single Bookmarked Video
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn default" data-dismiss="modal">Close</button>
				<button type="button" class="btn blue">Save changes</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

