<section class="container">
  <div class="row">
    <div class="seperator5"></div>
    <div class="portlet-body flip-scroll">
      <table class="table table-bordered table-striped table-condensed flip-content table-hover" id="video_contents">
        <thead class="flip-content">
          <tr>
            <th width="20%">Title of Video</th>
            <th width="15%">Topic Name</th>
            <th width="15%">Course Name</th>
            <th width="20%">Tags</th>
            <th width="15%">Channel Name</th>
            <th width="15%">Vimeo URL</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>
</section>
<input type="hidden" id="selected-col-name" value="<%= params[:col] %>"/>
<input type="hidden" id="selected-key-value" value="<%= @course.presence.try(:name) || @topic.presence.try(:title) %>"/>
<script>
  $(document).ready(function(){
    var tableId = '#video_contents';
    var url = "/admin/videos/search.json?course_id=<%= @course.presence.try(:id)%>&topic_id=<%= @topic.presence.try(:id)%>";
    var aoColumns = [{ "mData": "title"},
    { "mData": "topic_name"},
    { "mData": "course_name"},
    { "mData": "tags", "bSortable": false},
    { "mData": "channel_name"},
    { "mData": "vimeo_url", "bSortable": false, "sClass" : "text-center"}];
    var optionNames = ["Title", "Topic Name", "Course Name", "Channel Name"];
    var optionValues = ["title", "topic_name", "course_name", "channel_name"];
    loadContents(tableId, url, aoColumns, optionNames, optionValues);
  })
</script>

