<div class="row">
  <div class="seperator5"></div>
  <div class="portlet-body flip-scroll">
    <table class="table table-bordered table-striped table-condensed flip-content table-hover" id="video_contents">
      <thead class="flip-content">
        <tr>
        	<th>Video</th>
				  <th>Topic</th>
				  <th>Course</th>
				  <th>Tags</th>
				  <th>Channel</th>
				  <th>Vimeo URL</th>
				  <th>Action</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>
</div>

<script>
  $('#video_contents').dataTable({
    "bProcessing": true,
    "bServerSide": true,
    "iDisplayLength": 15,
    "bLengthChange": false,
    "sAjaxSource": "/admin/videos/search.json",
    "aoColumns": [
            { "mData": "title"},
            { "mData": "topic_name"},
            { "mData": "course_name"},
            { "mData": "tags", "bSortable": false},
            { "mData": "channel_name"},
            { "mData": "vimeo_url", "bSortable": false},
            { "mData": "actions", "bSortable": false}
        ] });
</script>

