<div class="modal fade" id="video-modal" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			</div>
			<div class="modal-body">
				<div id="bookmark_alert"></div>
				<div class="row">
					<div class="col-sm-7">
						<a href="<%= topic.videos.try(:first).try(:clip).try(:url) %>" style="display:block; width:520px; height:300px;" id="player"> </a>
					</div>
				</div>
				<%= render 'bookmark_form', :topic => topic if !topic.new_record? && !@topic_videos.blank? %>
 			</div>
			<div class="modal-footer">
				<button type="button" class="btn default" data-dismiss="modal">Close</button>
				<button type="button" data-loading-text="Loading...." class="btn blue" id="bookmark_button">Add Bookmark</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<%= javascript_include_tag "admin/app_functions/video_bookmark.js" %>