<div id="bookmark">
	<%= form_tag('/admin/topics/bookmark', :remote => true, :id => "bookmark_form") do %>
		<table>
			<tr>
				<th>Time</th>
				<th> Bookmark </th>
				<th></th>
			</tr>
			<% video = topic.videos.first %>
			<%= hidden_field_tag 'id', video.id %>
			<% if video.bookmark.nil? %>
				<tr>
			  	<td>
			  		<input type="text" name="bookmark[]time" class="form-control time" value="0.00">
			  	</td>
			  	<td>
			  		<input type="text" name="bookmark[]description" class="form-control description">
			  	</td>
			  	<td>
			  		<a href="#" class="btn btn-trans" rel="tooltip" title="Delete" onclick="$(this).parent().parent().remove();javascript:void(0)"><i class="fa fa-ban"></i></a>
			  	</td>
			  </tr>
			<% else %>
				<% JSON.parse(video.bookmark).each do |bookmark| %>
					<tr>
				  	<td>
				  		<input type="text" name="bookmark[]time" class="form-control time" value="<%= bookmark['time'] %>">
				  	</td>
				  	<td>
				  		<input type="text" name="bookmark[]description" class="form-control description" value="<%= bookmark['description'] %>">
				  	</td>
				  	<td>
				  		<a href="#" class="btn btn-trans" rel="tooltip" title="Delete" onclick="$(this).parent().parent().remove();javascript:void(0)"><i class="fa fa-ban"></i></a>
				  	</td>
				  </tr>
				<% end %>
			<% end %>
		</table>
	<% end %>
</div>