<div class="modal fade" id="video-modal" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			</div>
			<div class="modal-body" id="bookmark_form_content">
				<%#= render 'bookmark_form', :topic => topic if !topic.new_record? %>
 			</div>
			<div class="modal-footer">
				<button type="button" class="btn default" data-dismiss="modal" id="bookmark_model_close">Close</button>
				<button type="button" data-loading-text="Loading...." class="btn blue" id="bookmark_button">Save</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>