<div class="modal fade" id="video-modal" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			</div>
			<div class="modal-body">
				<a href="<%= topic.videos.first.clip.url %>" style="display:block;width:537px;height:250px;" id="player"> </a>
				<br/>
				<%= render 'bookmark_form', :topic => topic %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn default" data-dismiss="modal">Close</button>
				<button type="button" class="btn blue" id="bookmark_button">Add Bookmark</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<script>

	function add_bookmark(value){
		var text = "<tr><td><input type='text' size='30' name='bookmark[]time' id='time' value='" + value +"' class='form-control'></td><td><input type='text' size='30' name='bookmark[]description' id='description' class='form-control'></td><td><a onclick='$(this).parent().parent().remove();javascript:void(0)' class='link'>Remove</a><td></tr>"
		$("#bookmark table").append(text);
	}

	flowplayer("player", "/assets/swf/flowplayer-3.2.18.swf", {
    // a clip object
    clip: {
        // a clip event is defined inside clip object
        onStart: function() {
            // alert("clip started");
        }
    },
 
    // player events are defined directly to "root" (not inside a clip)
    onBeforePause: function(event) {
    	// console.log(flowplayer("player").getTime());
    	add_bookmark(flowplayer("player").getTime());
    },
    onSeek: function(event){
    	add_bookmark(flowplayer("player").getTime());
    }

	});

	$("#bookmark_button").click(function(){
	  $("#bookmark_form").submit();

	});
</script>
