
<div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="fileupload-new thumbnail" style="width: 220px; height: 120px;">
    <%= image_tag thumbnail_image(video_form.object) unless video_form.object.new_record? %>
  </div>
  <div class="fileupload-preview fileupload-exists thumbnail" style="max-widtheight: 135px; line-height: 20px;"></div>
  <div>
    <span class="btn purple btn-file">
      <span class="fileupload-new"><i class="fa fa-paper-clip"></i> <%= add_video_image_title(video_form.object) %></span>
      <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
      <%= video_form.file_field :image, :class => "default"%>
    </span>
      <a href="#" class="btn red fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> Remove</a>
  </div>
</div>