<footer>
  <div class="navbar navbar-inverse">
    <div class="container nopadding">
        <ul class="nav navbar-nav">
          <li><a href="#">Browse Our Library</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">User Review</a></li>
          <li><a href="#">Our Partners</a></li>
        </ul>
       <a class="navbar-brand pull-right" href="#"><img src="/assets/lazuli-logo-img.png" alt="logo" class="img-responsive"></a>
    </div>
  </div>
</footer>