<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container nopadding">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse top-menu">
      <ul class="nav navbar-nav">
        <li class="<%=  set_selected("users") %>"><a href="/admin/users" data-no-turbolink="true">Manage Users</a></li>
        <li class="<%=  set_selected(["contents", "courses", "topics"]) %>"><a href="/admin/contents" data-no-turbolink="true">Manage Content</a></li>
        <li class="<%=  set_selected("channels") %>"><a href="/admin/channels">Manage Channels</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown user">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
      <span class="username"><%= current_user.name %></span>
      <i class="fa fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu">
        <li><a href="extra_profile.html"><i class="fa fa-user"></i> My Profile</a></li>
        <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge badge-danger">3</span></a></li>
        <li class="divider"></li>
        <li><a href="#tml"><i class="fa fa-lock"></i> Lock Screen</a></li>
        <li><a href="/users/sign_out" data-method='delete'><i class="fa fa-key"></i> Log Out</a>
        </li>  
      </ul>
    </li>
    </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>