<div class="lazuli-container">
  <%= render 'shared/shared_header'%>
  <%= render 'shared/user_actions' %>
  <%= render 'shared/shared', :objects => @favourite_videos %>
</div> <!-- container ends -->
