<section class="btns-crumbs visible-md visible-lg">
  <div class="row">
    <%= render 'shared/user_menu' %>
    <div class="col-sm-6 col-md-6"></div>
    <div class="col-sm-1 col-md-1">
      <button type="button" class="btn btn-primary btn-block"><i class="fa fa-reply"></i> Back</button>
    </div>
  </div>
</section>