<section class="fav-page">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="row">
        <div class=" col-xs-6 col-sm-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="select_all_list"> Select All
            </label>
          </div>
        </div>
        <div class="col-xs-6 col-sm-9">
          <div class="form-group">
              <button type="submit" form="remove_videos" class="btn btn-danger" id="remove_selected_videos"> Remove Selected</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
          <div class="form-group">
            <select class="form-control btn-primary" id="<%= params[:controller] %>-filter-select" name="search_col">
              <option value="" selected>All</option>
              <option value="tags">Tags</option>
              <option value="title">Title</option>
              <option value="topic_name">Topic Name</option>
              <option value="course_name">Course Name</option>
              <option value="channel_name">Channel Name</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= text_field_tag :search_key, nil, :class => 'form-control', :id => "#{params[:controller]}-search-text", :placeholder => "Search #{params[:controller].titleize}" %>
          </div>
        </div>
        <div class="col-sm-2">
        <div class="text-right">
          <button type="button" class="btn btn-primary btn-block" id="filter_clear">
            <i class="fa fa-filter"></i>
          </button>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>