<section class="fav-page">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="row">
        <div class=" col-xs-6 col-sm-3">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Select All
            </label>
          </div>
        </div>
        <div class="col-xs-6 col-sm-9">
          <div class="form-group">
              <button type="button" class="btn btn-danger">Remove Selected</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="row">
        <div class="col-sm-2 col-sm-offset-2">
          <div class="form-group">
              <select class="form-control btn-primary" id="sort-by-btn">
                <option value="" selected>Filter</option>
                <option value="value-1">1</option>
              </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <input type="search" class="form-control" id="search-fav" placeholder="Search Favourites">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="text-right">
            <button type="button" class="btn btn-primary btn-block"><i class="fa fa-filter"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>