<% if @videos.any? %>
	$("#remove_videos").html("<%= j(render 'shared/shared', :objekts => @videos) %>");
<% else %>
	$("#remove_videos").html("<label>No <%= params[:controller].titleize %> found.</label>");
<% end %>