<% if @videos.any? %>
	$("#video_search_results").html("<%= j(render 'shared/shared', :objekts => @videos) %>");
<% else %>
	$("#video_search_results").html("<label>No <%= params[:controller].titleize %> found.</label>");
<% end %>