<% if @videos.blank? && @deleted_videos.blank? %>
	$("#video_search_results").html("<label>No <%= params[:controller].titleize %> found.</label>");
<% else %>
	$("#video_search_results").html("<%= j(render 'shared/shared', :objekts => @videos, :deleted_objekts =>@deleted_videos) %>");
<% end %>