<div class="row">
  <div class="col-sm-12">
    <h4>All Courses</h4>
    <div class="courses-list-box">
      <% @courses.each do |course| %>
        <div class="courses-list">
          <div class="row">
            <div class="col-xs-5 col-sm-2">
              <div class="course-logo-img">
                <a href="#">
                  <%= image_tag(course_thumbnail_image(course), :alt => "Image", :class => "img-responsive center-block" ) %>
                </a>
              </div>
            </div>
            <div class="col-xs-7 col-sm-8">
               <ul class="list-content">
                  <li class="title">
                    <a href="#"> <%= course.name.titleize %></a>
                  </li> 
                  <li class="descr hidden-xs course_descrip_landing">
                    <%= course.description %>
                  </li>
                  <li class="subs-date">
                    <a href="#">Subscription Expired</a>
                    <span>
                      <a href="#">Renew Subscription</a>
                    </span>
                  </li>
                </ul>
            </div>
            <div class="hidden-xs col-sm-2">
              <div class="course-featured-video">
                <img class="img-responsive" src="/assets/frontend/photos/img1.jpg" alt="Image">
              </div>
            </div>
          </div> <!-- row ends -->
        </div>  <!-- courses-list 1 ends -->
      <% end %>
    </div>
  </div> <!-- col-sm-12 Ends -->
</div> <!-- first row -->