<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
          <h4>My Subscriptions</h4>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <input type="search" class="form-control" id="search_subscription" placeholder="Search within Subscriptions">
        </div>
      </div>
    </div>
    <div class="courses-list-box" id="courses_list_box">
      <%= render 'subscriptions/subscription'%>
    </div>
  </div> <!-- col-sm-12 Ends -->
</div> <!-- first row -->

<script>
<% if @subscribed_courses.count < 4 %>
  $(function(){
    $('.courses-list-box').slimScroll({
      height: auto;
    });
  });
<% else %>
  $(function(){
    $('.courses-list-box').slimScroll({
      height: '370px'
    });
  });
<% end %>
</script>