<div class="row">
  <div class="col-xs-12">
    <div class="video-slides">
      <h4>New Videos</h4>
      <div class="row">
        <div class="col-sm-12">         
          <% if @videos.blank? %>
           <div class="recommends-carousel-inner text-center">
            <span class='active sample_text'>No videos available</span>
           </div> 
          <% end %>
         <div class="slider4"> 
          <% @videos.each_with_index do |video, index| %>
            <div class="slide">
                <%= link_to(link_image_tag(video),course_topic_video_url(video.course.id, video.topic_id, video.id)) %>
                <p class="video_title"><%= video.title.titleize.truncate(25) %></p>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  <% if !@videos.count.zero? %>
    $(document).ready(function(){
      $('.slider4').bxSlider({
//        slideWidth: 180,
        minSlides: 1,
        maxSlides: 6,
        moveSlides: 1,
//        slideMargin: 10,
        pager: false,
        infiniteLoop: true,
        hideControlOnEnd: false,
        speed: 1000
      });
    });
  <% end %>
</script>