<div class="carousel-inner">
  <% @videos.in_groups(3, false).each_with_index do |videos, index| %>
    <ul class="<%= is_active_videos(index) %> item video-thumbs">
      <% videos.each do |video|%>
        <li class="vimeo-thumb">
          <a href="#">
            <%= image_tag(thumbnail_image(video), alt: "Image") %>
            <p><%= video.title %></p>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>