<div class="carousel-box">
	<div class="row"> <!-- row 7 -->
		<div class="col-sm-12">
		  <div class="slider4<%= c %>" data-interval="false">
	      <% 6.times do |n|%>
	        <div class="slide">
	          <div class="col-xs-12"><a href="#">
	            <%=  image_tag "lazuli-logo.png", :class => "img-responsive", :alt => "Lazuli Logo" %></a>
	          </div>
	        </div>
	      <% end %>
	    </div>
	  </div>
	</div>
	<div class="bx-caption">
    <h4><%= Lazuli %></h4>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.slider4<%= c %>').bxSlider({
      slideWidth: 145,
      minSlides: 1,
      maxSlides: 2,
      moveSlides: 1,
      pager: false,
      infiniteLoop: true,
      hideControlOnEnd: false,
      speed: 1000
    });
  });
</script>