<div class="col-sm-6 fix-overflow"> 
	<div class="row">
		<div class="col-sm-12">
			<div class="content-left welcome-videos"> 
				<div class="row">
					<div class="col-sm-12">
						<div class="welcome-videos-title">
								<h3>Whats New ?</h3>
						</div>
					</div>
				</div>
				<% if !@topics.blank? %>
				<% @topics.each_with_index do |topic, topic_index| %>
					<div class="carousel-box-<%= topic_index + 1 %>">
						<div class="row"> <!-- row 7 -->
							<%= render 'home/video_home', :topic => topic, :topic_index =>  topic_index %>	
						</div>
					</div>
				<% end %>
				<% else %>
				 <% 3.times do |c|%>
				   <%= render 'home/partial_topics', :c => c %>
				 <% end %>
				<% end %>
			</div>	
		</div>
	</div>
</div>

<%= javascript_include_tag "application/main_app/multiple_carousel.js"%>