<div class="container">
  <section class="btns-crumbs visible-md visible-lg">
    <div class="row">
      <div class="col-sm-5 col-md-4">
        <%= render 'shared/user_menu' if user_signed_in? %>
      </div>
    </div>
  </section>
  <div class="seperator5"></div>
  <div class="seperator5"></div>
  <section class="all-courses indigo-back">
    <div class="row">
      <div class="col-sm-12">
        <h4>Browse Our Library</h4>
        <div class="partial-courses-list-box">
          <div class="courses-list">
            <div class="row">
              <div class="col-xs-5 col-sm-3 col-md-2">
                <div class="course-logo-img">
                  <h4 class="text-center company-name"><a href="#">Sodel Solutions</a></h4>
                  <a href="#"><img src="assets/frontend/study-express.png" alt="Study Express Logo" class="img-responsive center-block channel-thumbnail"></a>
                </div>
              </div>
              <div class="col-xs-7 col-sm-7 col-md-8">
                <div class="row">
                  <div class="col-xs-12">
                    <ul class="list-content">
                      <li class="title"><a href="#">Microsoft Word</a></li>
                      <li class="descr hidden-xs">Microsoft is a word processor and was previously considered the main program in Office. This course is specifically designed for users who have a daily interaction with word</li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <ul class="list-content">
                      <li class="title"><a href="#">Microsoft Excel</a></li>
                      <li class="descr hidden-xs">Microsoft is a word processor and was previously considered the main program in Office. This course is specifically designed for users who have a daily interaction with word</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="hidden-xs col-sm-2 col-md-2">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="course-featured-video">
                      <img class="img-responsive center-block video-thumbnail" src="assets/frontend/photos/img1.jpg" alt="Image">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="course-featured-video">
                      <img class="img-responsive center-block video-thumbnail" src="assets/frontend/photos/img1.jpg" alt="Image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- row ends -->
          </div>
          <!-- courses-list 1 ends -->
          <div class="courses-list">
            <div class="row">
              <div class="col-xs-5 col-sm-3 col-md-2">
                <div class="course-logo-img">
                  <h4 class="text-center company-name"><a href="#">Sodel Solutions</a></h4>
                  <a href="#"><img src="assets/frontend/study-express.png" alt="Study Express Logo" class="img-responsive center-block channel-thumbnail"></a>
                </div>
              </div>
              <div class="col-xs-7 col-sm-7 col-md-8">
                <div class="row">
                  <div class="col-xs-12">
                    <ul class="list-content">
                      <li class="title"><a href="#">Microsoft Word</a></li>
                      <li class="descr hidden-xs">Microsoft is a word processor and was previously considered the main program in Office. This course is specifically designed for users who have a daily interaction with word</li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <ul class="list-content">
                      <li class="title"><a href="#">Microsoft Excel</a></li>
                      <li class="descr hidden-xs">Microsoft is a word processor and was previously considered the main program in Office. This course is specifically designed for users who have a daily interaction with word</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="hidden-xs col-sm-2 col-md-2">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="course-featured-video">
                      <img class="img-responsive center-block video-thumbnail" src="assets/frontend/photos/img1.jpg" alt="Image">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="course-featured-video">
                      <img class="img-responsive center-block video-thumbnail" src="assets/frontend/photos/img1.jpg" alt="Image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- row ends -->
          </div>
          <!-- courses-list 1 ends -->
          <div class="courses-list">
            <div class="row">
              <div class="col-xs-5 col-sm-3 col-md-2">
                <div class="course-logo-img">
                  <h4 class="text-center company-name"><a href="#">Sodel Solutions</a></h4>
                  <a href="#"><img src="assets/frontend/study-express.png" alt="Study Express Logo" class="img-responsive center-block channel-thumbnail"></a>
                </div>
              </div>
              <div class="col-xs-7 col-sm-7 col-md-8">
                <div class="row">
                  <div class="col-xs-12">
                    <ul class="list-content">
                      <li class="title"><a href="#">Microsoft Word</a></li>
                      <li class="descr hidden-xs">Microsoft is a word processor and was previously considered the main program in Office. This course is specifically designed for users who have a daily interaction with word</li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <ul class="list-content">
                      <li class="title"><a href="#">Microsoft Excel</a></li>
                      <li class="descr hidden-xs">Microsoft is a word processor and was previously considered the main program in Office. This course is specifically designed for users who have a daily interaction with word</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="hidden-xs col-sm-2 col-md-2">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="course-featured-video">
                      <img class="img-responsive center-block video-thumbnail" src="assets/frontend/photos/img1.jpg" alt="Image">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="course-featured-video">
                      <img class="img-responsive center-block video-thumbnail" src="assets/frontend/photos/img1.jpg" alt="Image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- row ends -->
          </div>
          <!-- courses-list 1 ends -->
          <div class="courses-list">
            <div class="row">
              <div class="col-xs-5 col-sm-3 col-md-2">
                <div class="course-logo-img">
                  <h4 class="text-center company-name"><a href="#">Sodel Solutions</a></h4>
                  <a href="#"><img src="assets/frontend/study-express.png" alt="Study Express Logo" class="img-responsive center-block channel-thumbnail"></a>
                </div>
              </div>
              <div class="col-xs-7 col-sm-7 col-md-8">
                <div class="row">
                  <div class="col-xs-12">
                    <ul class="list-content">
                      <li class="title"><a href="#">Microsoft Word</a></li>
                      <li class="descr hidden-xs">Microsoft is a word processor and was previously considered the main program in Office. This course is specifically designed for users who have a daily interaction with word</li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <ul class="list-content">
                      <li class="title"><a href="#">Microsoft Excel</a></li>
                      <li class="descr hidden-xs">Microsoft is a word processor and was previously considered the main program in Office. This course is specifically designed for users who have a daily interaction with word</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="hidden-xs col-sm-2 col-md-2">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="course-featured-video">
                      <img class="img-responsive center-block video-thumbnail" src="assets/frontend/photos/img1.jpg" alt="Image">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="course-featured-video">
                      <img class="img-responsive center-block video-thumbnail" src="assets/frontend/photos/img1.jpg" alt="Image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- row ends -->
          </div>
          <!-- courses-list 1 ends -->
        </div>
      </div>
      <!-- col-sm-12 Ends -->
    </div>
    <!-- first row -->
  </section>
</div>
<!-- container ends -->