<section class="btns-crumbs visible-md visible-lg">
    <div class="row">
      <div class="col-sm-5 col-md-4">
        <ul class="user-option-btns">
            <li><a href="#" class="btn btn-block btn-yellow"><i class="fa fa-clock-o"></i> History</a></li>
            <li><a href="#" class="btn btn-block btn-yellow"><i class="fa fa-star"></i> Favourites</a></li>
            <li><a href="#" class="btn btn-block btn-yellow"><i class="fa fa-rss-square"></i> Subscriptions</a></li>
        </ul>
      </div>
    </div>
</section>
<div class="seperator5"></div>
<section id="new-videos">
  <div class="row">
    <div class="col-xs-12">
    <div class="video-slides">
      <h4>New Videos</h4>
      <div class="row">
        <div class="col-sm-12">
          <!-- Carousel-1 Begins -->
          <div id="new-vids" class="carousel slide new-vid-list">
            <!-- Carousel items -->
            <%= render 'new_videos' %>
            <!-- Carousel-1 nav -->
            <a class="carousel-control left" href="#new-vids" data-slide="prev"><i class="fa fa-caret-left"></i></a>
            <a class="carousel-control right" href="#new-vids" data-slide="next"><i class="fa fa-caret-right"></i></a>

          </div>                
          <!-- Carousel Ends -->
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
<section class="all-courses">
  <div class="row">
    <div class="col-sm-12">
      <h4>All Courses</h4>
      <div class="courses-list-box">
        <div class="courses-list">
          <div class="row">
            <div class="col-xs-5 col-sm-2">
              <div class="course-logo-img">
               <a href="#"><img src="/assets/frontend/study-express.png" alt="Study Express Logo" class="img-responsive center-block"></a>
              </div>
            </div>
            <div class="col-xs-7 col-sm-8">
               <ul class="list-content">
                  <li class="title"><a href="#">Microsoft Word</a></li> 
                  <li class="descr hidden-xs">Microsoft is a word processor and was previously considered the main program in Office. This course is specifically designed for users who have a daily interaction with word</li>
                  <li class="subs-date"><a href="#">Subscription Expired</a>
                    <span><a href="#">Renew Subscription</a></span></li>
                </ul>
            </div>
            <div class="hidden-xs col-sm-2">
              <div class="course-featured-video">
                <img class="img-responsive" src="/assets/frontend/photos/img1.jpg" alt="Image">
              </div>
            </div>
          </div> <!-- row ends -->
        </div>  <!-- courses-list 1 ends -->
        <div class="courses-list">
          <div class="row">
            <div class="col-xs-5 col-sm-2">
              <div class="course-logo-img">
                <a href="#"><img src="/assets/frontend/global-study.jpg" alt="" class="img-responsive center-block"></a>
                </div>
            </div>
            <div class="col-xs-7 col-sm-8">
               <ul class="list-content">
                  <li class="title"><a href="#">Microsoft Excel</a></li> 
                  <li class="descr hidden-xs">Microsoft is a word processor and was previously considered the main program in Office. This course is specifically designed for users who have a daily interaction with word</li>
                  <li class="subs-date"><a href="#">Subscription Expired</a>
                    <span><a href="#">Renew Subscription</a></span></li>
                </ul>
            </div>
            <div class="hidden-xs col-sm-2">
              <div class="course-featured-video">
<!--                  <a href="#"><img src="/assets/frontend/xl-video.jpg" alt="" class="img-responsive center-block"></a>  -->
                <img class="img-responsive" src="/assets/frontend/photos/img1.jpg" alt="Image">

              </div>
            </div>
          </div> <!-- row ends -->
        </div>  <!-- courses-list 2 ends -->
        <div class="courses-list">
          <div class="row">
            <div class="col-xs-5 col-sm-2">
              <div class="course-logo-img">
              <a href="#"><img src="/assets/frontend/study-express.png" alt="Study Express Logo" class="img-responsive center-block"></a>
              </div>
            </div>
            <div class="col-xs-7 col-sm-8">
               <ul class="list-content">
                  <li class="title"><a href="#">Microsoft Word</a></li> 
                  <li class="descr hidden-xs">Microsoft is a word processor and was previously considered the main program in Office. This course is specifically designed for users who have a daily interaction with word</li>
                  <li class="subs-date"><a href="#">Subscription Expired</a>
                    <span><a href="#">Renew Subscription</a></span></li>
                </ul>
            </div>
            <div class="hidden-xs col-sm-2">
              <div class="course-featured-video">
                <img class="img-responsive" src="/assets/frontend/photos/img1.jpg" alt="Image">
              </div>
            </div>
          </div> <!-- row ends -->
        </div>  <!-- courses-list 3 ends -->
        <div class="courses-list">
          <div class="row">
            <div class="col-xs-5 col-sm-2">
              <div class="course-logo-img">
              <a href="#"><img src="/assets/frontend/study-express.png" alt="Study Express Logo" class="img-responsive center-block"></a>
              </div>
            </div>
            <div class="col-xs-7 col-sm-8">
               <ul class="list-content">
                  <li class="title"><a href="#">Microsoft Word</a></li> 
                  <li class="descr hidden-xs">Microsoft is a word processor and was previously considered the main program in Office. This course is specifically designed for users who have a daily interaction with word</li>
                  <li class="subs-date"><a href="#">Subscription Expired</a>
                    <span><a href="#">Renew Subscription</a></span></li>
                </ul>
            </div>
            <div class="hidden-xs col-sm-2">
              <div class="course-featured-video">
                <img class="img-responsive" src="/assets/frontend/photos/img1.jpg" alt="Image">
              </div>
            </div>
          </div> <!-- row ends -->
        </div>  <!-- courses-list 4 ends -->
      </div>
    </div> <!-- col-sm-12 Ends -->
  </div> <!-- first row -->
</section>