<div id="flash"><%= flash_message %></div>
<section class="btns-crumbs visible-md visible-lg">
    <div class="row">
      <%= render 'shared/user_options' %>
    </div>
</section>
<div class="seperator5"></div>
<section id="new-videos">
  <%= render 'new_videos' %>
</section>
<section class="all-courses">
  <%= render 'all_courses' %>
</section>