<div class='seperator5'></div>
<div class="white-back">
	<section id="terms">
		<div class="row padding15"> <!-- Row 1 -->
			<div class="col-sm-12 text-justify"> 
              <h3>Privacy policy</h3>
				<p>This Policy outlines the obligations which [OTP Holding Company] has in managing the personal information they hold about their clients, potential clients, contractors and others.  </p>
				<p>The [OTP Holding Company] are bound by the National Privacy Principles (NPPs) contained in the Privacy Act 1988 (Cth) (Privacy Act). </p>
				<p>In summary, 'personal information' is information or an opinion relating to an individual which can be used to identify that individual. </p>
				<p><b>Why do [OTP Holding Company] collect personal information?</b></p>
				<p>[OTP Holding Company] collect personal information in order to conduct their business, to provide and market their services and to meet their legal obligations.</p>
				<ul> <li style="list-style: disc;margin-left:15px;">each [OTP Holding Company]</li>
				</ul>
				<br />
				<p><b>Information We Collect About You</b></p>
				<p>In General. We may collect personal information that can identify you, such as your name and email address, and other information that does not identify you. When you provide personal information through our website, the information may be sent to servers located in the United States and other countries around the world.</p>
				<ul>
				 <li style="list-style: disc;margin-left:15px;">Information you provide. We may collect and store any personal information you enter on our website or provide to us in some other manner, including personal information that may be contained in any video, comment or other submission you upload or post to the website. This includes identifying information, such as your name, address, e-mail address, and telephone number; your likeness; and, if you transact business with us, financial information such as your payment method (valid credit card number, type, expiration date or other financial information). We also may request information about your interests and activities, your gender and age, and other demographic information.</li>
				 <li style="list-style: disc;margin-left:15px;">Information from other sources. We may also periodically obtain both personal and non-personal information about you from other IAC businesses, business partners, contractors and other third parties. Examples of information that we may receive include: updated delivery and address information, purchase history, and additional demographic information.</li>
				 <li style="list-style: disc;margin-left:15px;">Information about others. We may also collect and store personal information about other people that you provide to us. If you use our website to send others (friends, relatives, colleagues, etc.) a product as a gift, information that may interest them or messages (such as invitations) through our system, we may store your personal information, and the personal information of each such recipient. Similarly, if you use our website to upload, share and/or distribute content (including videos, comments or other submissions), and such content contains personal information about others, such information may be stored in order to allow for such uploading, sharing and/or distribution.</li>
				</ul>
				<br />
				<p><b>Use of cookies and other technologies to collect information. </b>We use various technologies to collect information from your computer and about your activities on our site. For more information on Cookies, please see our Cookie Policy.</p>
				<ul>
				<li style="list-style: disc;margin-left:15px;">Information collected automatically. We automatically collect information from your browser when you visit our website. This information includes your IP address, your browser type and language, access times, the content of any undeleted cookies that your browser previously accepted from us (see "Cookies" below), and the referring website address.</li>
				<li style="list-style: disc;margin-left:15px;">Cookies. When you visit our website, we may assign your computer one or more cookies, to facilitate access to our site and to personalize your online experience. Through the use of a cookie, we also may automatically collect information about your online activity on our site, such as the web pages you visit, the links you click, and the searches you conduct on our site. Most browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies. If you choose to decline cookies, please note that you may not be able to sign in or use some of the interactive features offered on our website.</li>
				<li style="list-style: disc;margin-left:15px;">Other Technologies. We may use standard Internet technology, such as web beacons and other similar technologies, to track your use of our site. We also may include web beacons in promotional e-mail messages or newsletters to determine whether messages have been opened and acted upon. The information we obtain in this manner enables us to customize the services we offer our website visitors to deliver targeted advertisements and to measure the overall effectiveness of our online advertising, content, programming or other activities.</li>
				<li style="list-style: disc;margin-left:15px;">Information collected by third-parties. We may allow third-parties, including our authorized service providers, [OTP Holding Company] , advertising companies, and ad networks, to display advertisements on our site. These companies may use tracking technologies, such as cookies, to collect information about users who view or interact with their advertisements. Unless expressly stated otherwise, our website does not provide any personal information to these third parties. This information allows them to deliver targeted advertisements and gauge their effectiveness. Some of these third-party advertising companies may be advertising networks that are members of the Network Advertising Initiative, which offers a single location to opt out of ad targeting from member companies (www.networkadvertising.org).</li>

				</ul>
				<br />
				<p><b>How We Use the Information We Collect</b></p>
				<p>In General. We may use information that we collect about you to:</p>
				<ul>
				<li style="list-style: disc;margin-left:15px;">deliver the products and services that you have requested;</li>
				<li style="list-style: disc;margin-left:15px;">manage your account and provide you with customer support;</li>
				<li style="list-style: disc;margin-left:15px;">perform research and analysis about your use of, or interest in, our products, services, or content, or products, services or content offered by others;</li>
				<li style="list-style: disc;margin-left:15px;">communicate with you by e-mail, postal mail, telephone and/or mobile devices about products or services that may be of interest to you either from us, our sister [OTP Holding Organisation] or other third parties;</li>
				<li style="list-style: disc;margin-left:15px;">develop and display content and advertising tailored to your interests on our site and other sites;</li>
				<li style="list-style: disc;margin-left:15px;">manage our business and</li>
				<li style="list-style: disc;margin-left:15px;">perform functions as otherwise described to you at the time of collection.</li>
				</ul>
				<br />
				<p><b>Your Choices About Collection and Use of Your Information</b></p>
				<p>You can choose not to provide us with certain information, but that may result in you being unable to use certain features of our website because such information may be required in order for you to register as a member; purchase products or services; participate in a contest, promotion, survey, or sweepstakes; ask a question; or initiate other transactions on our website.</p>
				<p>When you register on our website you may be given a choice as to whether you want to receive email messages and/or newsletters about product updates, improvements, special offers, or containing special distributions of content by us. At any time you can choose to no longer receive commercial or promotional emails or newsletters from us by clicking on the following link and entering the email address associated with your account: click here. You also will be given the opportunity, in any commercial e-mail that we send to you, to opt out of receiving such messages in the future. It may take up to 10 days for us to process an opt-out request. We may send you other types of transactional and relationship e-mail communications, such as service announcements, administrative notices, and surveys, without offering you the opportunity to opt out of receiving them. Please note that, changing information in your account, or otherwise opting out of receipt of promotional email communications will only affect future activities or communications from us. If we have already provided your information to a third party (such as a credit card processing partner or an event provider) before you have changed your preferences or updated your information, you may have to change you preferences directly with that third party.</p>
				<p>You may tell us not to share your personal information with third parties or the IAC family of companies for direct marketing purposes by clicking on the following link and entering the email address associated with your account: click here.</p>
				<p><b>Financial information. </b></p>
				<p>We may use financial information or payment method to process payment for any purchases, subscriptions or sales made on our website, to protect against or identify possible fraudulent transactions, and otherwise as needed to manage our business.</p>
				<p><b>Children’s Privacy</b></p>
				<p>Our website is a general audience site, and we do not knowingly collect personal information from children under the age of 13..</p>
				<p><b>To whom might [OTP Holding Company] disclose your personal information?</b></p>
				<p>[OTP Holding Company] may disclose your personal information to:</p>
				<ul>
				<li style="list-style: disc;margin-left:15px;">other members of the [OTP Holding Company] Group</li>
				<li style="list-style: disc;margin-left:15px;">other companies or individuals who assist [OTP Holding Company] in providing services or who perform functions on their behalf.</li>
				<li style="list-style: disc;margin-left:15px;">courts, tribunals and regulatory authorities, and</li>
				<li style="list-style: disc;margin-left:15px;">anyone else to whom you authorise them to disclose it.</li>
				</ul>
				<br />
				<p>[OTP Holding Company] also collect personal information from these organisations and individuals, and deal with that information in accordance with this Policy.</p>
				<p><b>Sending information overseas</b></p>
				<p>[OTP Holding Company] will not send your personal information to recipients outside of Australia without:</p>
				<ul>
				<li style="list-style: disc;margin-left:15px;">obtaining your consent (in some cases this consent will be implied), or</li>
				<li style="list-style: disc;margin-left:15px;">otherwise complying with the NPPs.</li>
				</ul>
				<br />
				<p><b>Management of personal information</b></p>
				<p>The NPPs require [OTP Holding Company] to take reasonable steps to protect the security of personal information. [OTP Holding Company]’s personnel are required to respect the confidentiality of personal information and the privacy of individuals. </p>
				<p>[OTP Holding Company] take reasonable steps to protect personal information held from misuse and loss and from unauthorised access, modification or disclosure, for example by use of physical security and restricted access to electronic records. </p>
				<p>Where [OTP Holding Company] no longer require your personal information for a permitted purpose under the NPPs, they will take reasonable steps to destroy it.</p>
				<p><b>How do [OTP Holding Company] keep personal information accurate and up-to-date?</b></p>
				<p>If you have an online account with us, you have the ability to review and update your personal information online by logging into your account. You can also review and update your personal information by contacting us. More information about how to contact us is provided below.<br />Subject to the exceptions set out in the Privacy Act, you may seek access to the personal information which [OTP Holding Company] hold about you by logging in to your account. </p>
				<p><b>Changes to This Privacy Policy</b></p>
				<p>We will occasionally update this Privacy Policy to reflect changes in our practices and services. When we post changes to this Privacy Policy, we will revise the "Last Updated" date at the top of this Privacy Policy. If we make any material changes in the way we collect, use, and/or share your personal information, we will notify you by sending an email to the email address you most recently provided us in your account, profile or registration (unless we do not have such an email address), and/or by prominently posting notice of the changes on our website. We recommend that you check our website from time to time to inform yourself of any changes in this Privacy Policy or any of our other policies.</p>

            </div>
		</div><!-- Row 1 ends -->

	</section>
</div>