<footer>
  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <div class="navbar-header">
      <a class="navbar-toggle" data-toggle="collapse" data-target="#footer-body"><i class="fa fa-ellipsis-h"></i></a>
    </div>
      <div class="navbar-collapse collapse" id="footer-body">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Browse Our Library', browse_course_path %></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Our Partners</a></li>
          <li><%= link_to 'User Review', '#', :data => {:target => '#feedback-modal', :toggle => 'modal'} %></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div> 
</footer>
<div class="modal" id="feedback-modal" tabindex="-1" role="dialog" aria-labelledby="feedback-modal" aria-hidden="true" data-backdrop="true">
  <%= render 'home/user_review' %>
</div><!-- /.modal -->