<div class="col-sm-6 fix-overflow"> <!-- removed pull-left class -->
			<div class="row">
				<div class="col-sm-11 col-sm-offset-1">
					<div class="content-left welcome-videos"> <!-- Content Left begins -->
						<div class="row">
							<div class="col-sm-12">
								<h3>New Videos</h3>
							</div>
						</div>
						<div class="row"> <!-- row 7 -->
							<div class="col-sm-12">
				            <div id="myCarousel1" class="carousel slide"> <!-- carousel starts -->
				              <!-- Carousel items -->
				              <div class="carousel-inner">
				                <div class="active item">
				                  <img src="/assets/frontend/photos/img1.jpg" alt="Image">
				                    <div class="carousel-caption violet">
				                      <h4>Introduction to Powerpoint</h4>
				                    </div>
				                </div>
				                <div class="item">
				                  <img src="/assets/frontend/photos/img4.jpg" alt="Image">
				                    <div class="carousel-caption violet">
				                      <h4>Macros in Powerpoint</h4>
				                    </div>
				                </div>
				              </div>
				              <!-- Carousel nav -->
				              <a class="carousel-control left" href="#myCarousel1" data-slide="prev"><i class="fa fa-caret-left"></i></a>
				              <a class="carousel-control right" href="#myCarousel1" data-slide="next"><i class="fa fa-caret-right"></i></a>
				            </div>                
				<!-- Carousel Ends -->
			<!-- Carousel Starts -->
			                <div id="myCarousel2" class="carousel slide hidden-xs">
			                  <!-- Carousel items -->
			                  <div class="carousel-inner">
			                    <div class="active item">
			                      <img src="/assets/frontend/photos/img5.jpg" alt="Image">
			                        <div class="carousel-caption violet">
			                          <h4>Introduction to Word</h4>
			                        </div>
			                    </div>
			                    <div class="item">
			                      <img src="/assets/frontend/photos/img4.jpg" alt="Image">
			                        <div class="carousel-caption violet">
			                          <h4>Macros in Excel</h4>
			                        </div>
			                    </div>
			                  </div>
			                  <!-- Carousel nav -->
			                  <a class="carousel-control left" href="#myCarousel2" data-slide="prev"><i class="fa fa-caret-left"></i></a>
			                  <a class="carousel-control right" href="#myCarousel2" data-slide="next"><i class="fa fa-caret-right"></i></a>
			                </div>                
			<!-- Carousel Ends -->
			<!-- Carousel Starts -->
			                <div id="myCarousel3" class="carousel slide hidden-xs">
			                  <!-- Carousel items -->
			                  <div class="carousel-inner">
			                    <div class="active item">
			                      <img src="/assets/frontend/photos/img3.jpg" alt="Image">
			                        <div class="carousel-caption violet">
			                          <h4>Introduction to Excel</h4>
			                        </div>
			                    </div>
			                    <div class="item">
			                      <img src="/assets/frontend/photos/img5.jpg" alt="Image">
			                        <div class="carousel-caption violet">
			                          <h4>Macros in Word</h4>
			                        </div>
			                    </div>
			                  </div>
			                  <!-- Carousel nav -->
			                  <a class="carousel-control left" href="#myCarousel3" data-slide="prev"><i class="fa fa-caret-left"></i></a>
			                  <a class="carousel-control right" href="#myCarousel3" data-slide="next"><i class="fa fa-caret-right"></i></a>
			                </div>                
			<!-- Carousel Ends -->

							</div>	
						</div> <!-- row 7 ends -->
					</div>	
				</div>
			</div>
		</div>
