<div class="row">
  <div class="col-sm-12">
    <div class="video-descr">
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">
          <div class="channel-logo-pic">
            <%= image_tag(@course.channel.image.url, :alt => "Channel Logo", :class => "img-border") %>
          </div>
        </div>
        <div class="col-xs-6 col-sm-8 col-md-9">
          <div class="video-descr-text">
            <h4> <%= @video.title.titleize %></h4>
            <p><%= @video.description.truncate(300) %></p>
            <% bookmarks = @video.bookmarks %>
            <% if bookmarks.any? %>
              <p>Bookmarks</p>
              <% bookmarks.each do |bookmark| %>
                <p><%= link_to(bookmark.title.titleize, bookmark_time_format(bookmark.time), :remote => true) %><p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div>
        </div>
      </div>
      <!-- col-12 ends -->
    </div>
    <!-- row ends -->              
  </div>
  <!-- .view-course ends -->
</div>