<div class="col-sm-12">
  <div class="place-video div_embedded_video" style="background-image: url(' <%= video_thumbnail_image(@video) %>');">
  	<div class="container-fluid">
	    <div class="row-fluid">
	      <div class="span4" class="centering">
	        <%= link_to image_tag("play_button.png", :id => "disabled_link_video"), "#"%>
	      </div>
	    </div>
	  </div>
  </div>
</div>