<div class="col-sm-12">
  <div class="place-video">
    <iframe src="<%= vimeo_iframe_url %>" id="player_1" width="1280" height="720" frameborder="0" title="Brad!" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>