<div class="row">
  <div class="col-xs-12">
    <div class="video-slides">
      <h4>Recommended Videos</h4>
      <div class="row">
        <div class="col-sm-12">
          <!-- Carousel-1 Begins -->         
            <% if @recommended_videos.blank? %>
            <div class="recommends-carousel-inner text-center">
              No Recommended videos available
            </div >
            <% else %>
             <div class="slider4 no-slide">
              <% @recommended_videos.each_with_index do |video, index| %>
                <div class="slide">
                  <%= link_to(link_image_tag(video),course_topic_video_url(video.topic.course_id, video.topic_id, video.id)) %>
                    <p class="video-title"><%= video.title.titleize.truncate(25) %></p>
                </div>
              <% end %>
              </div>
            <% end %>
          <!-- Carousel Ends -->
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  <% if !@recommended_videos.count.zero? %>
    $(document).ready(function(){
      slider_change();
      $(window).resize(function(){
        slider_change(); 
      });
    });
  <% end %>
  function slider_change(){
    if($(window).width() < 360 ){
      <% if @recommended_videos.count > 1 %>
       $(document).ready(function(){
        $('.slider4').bxSlider({minSlides: 1,maxSlides: 1,moveSlides: 1,pager: false,speed: 1000});
       });
      <% end %>  
    }else if($(window).width() > 365 && $(window).width() <= 480){
      <% if @recommended_videos.count > 2 %>
       $(document).ready(function(){
        $('.slider4').bxSlider({minSlides: 1,maxSlides: 2,moveSlides: 1,pager: false,speed: 1000});
       });
      <% end %> 
    }else if($(window).width() > 480 && $(window).width() <= 690){
      <% if @recommended_videos.count > 3 %>
       $(document).ready(function(){
        $('.slider4').bxSlider({minSlides: 1,maxSlides: 3,moveSlides: 1,pager: false,speed: 1000});
       });
      <% end %>   
    }else if($(window).width() > 690 && $(window).width() <= 768){
      <% if @recommended_videos.count > 4 %>
        $(document).ready(function(){
        $('.slider4').bxSlider({minSlides: 1,maxSlides: 4,moveSlides: 1,pager: false,speed: 1000});
       });
      <% end %>
    }else if($(window).width() > 768 && $(window).width() <= 1024){
      <% if @recommended_videos.count > 5 %>
        $(document).ready(function(){
        $('.slider4').bxSlider({minSlides: 1,maxSlides: 5,moveSlides: 1,pager: false,speed: 1000});
       });
      <% end %>   
    }else if($(window).width() > 1024){
      <% if @recommended_videos.count > 6 %>
       $(document).ready(function(){
        $('.slider4').bxSlider({minSlides: 1,maxSlides: 6,moveSlides: 1,pager: false,speed: 1000});
       });
      <% end %>  
    }
}
</script>
 