<div class="row">
  <div class="col-xs-12">
    <div class="video-slides">
      <h4>Recommended Videos</h4>
      <div class="row">
        <div class="col-sm-12">
          <!-- Carousel-1 Begins -->         
            <% if @recommended_videos.blank? %>
            <div class="recommends-carousel-inner text-center">
              No Recommended videos available
            </div >
            <% else %>
             <div class="slider4">
              <% @recommended_videos.each_with_index do |video, index| %>
                <div class="slide">
                  <%= link_to(link_image_tag(video),course_topic_video_url(video.topic.course_id, video.topic_id, video.id)) %>
                    <p class="video-title"><%= video.title.titleize.truncate(30) %></p>
                </div>
              <% end %>
              </div>
            <% end %>
          <!-- Carousel Ends -->
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  <% if !@recommended_videos.count.zero? %>
    $(document).ready(function(){
      $('.slider4').bxSlider({
//        slideWidth: 180,
        minSlides: 1,
        maxSlides: 6,
        moveSlides: 1,
//        slideMargin: 10,
        pager: false,
        infiniteLoop: false,
        hideControlOnEnd: false,
        speed: 1000
      });
    });
  <% end %>
</script>