<div id="flash"></div>
<div class="row">
  <div class="col-sm-12 col-md-6">
	  <ul class="video-tags">
	    <li><i class="fa fa-tag"></i> Tags:</li>
	    <% @video.tags.each do |tag| %>
	      <li>
          <%= link_to tag.name, tag_videos_videos_path(:search => tag.name) %>
        </li>
	    <% end %>
	  </ul>
	</div>
  <!-- col-8 ends -->
  <div class="col-sm-12 col-md-6">
    <div class="video-save-options">
      <span id='add-favourite' hidden>
        <%= link_to button_field("fa fa-star", 'btn btn-link active', 'Add to Favourites'), favourites_path(item_id: @video.id, item_type: "Video"), :method => :post, :remote => true %>
      </span>
      <span id='remove-favourite' hidden>
      <%= link_to button_field("fa fa-star red-text", 'btn btn-link', 'Remove from Favourites'), favourite_path(item_id: @video.id, item_type: "Video"), :method => :delete, :remote => true %>
      </span>
      <button type="button" class="btn btn-link" data-toggle="button"><i class="fa fa-clock-o"></i> Watch later</button>
    </div>
  </div>
  <!-- col-4 ends -->
</div>

<script type="text/javascript">
  <% if @favourite_video %>
    $('#remove-favourite').show()
  <% else %>
    $('#add-favourite').show()
  <% end %>
</script>