<div id="flash"></div>
<div class="row">
  <div class="col-sm-12 col-md-6">
	  <ul class="video-tags">
	    <li><i class="fa fa-tag"></i> Tags:</li>
	    <% @video.tags.each do |tag| %>
	      <li>
          <%= link_to tag.name, tag_videos_videos_path(:search => tag.name) %>
        </li>
	    <% end %>
	  </ul>
	</div>
  <!-- col-8 ends -->
  <div class="col-sm-12 col-md-6">
    <div class="video-save-options">

      <%= link_to '<button type="button" class="btn btn-link" data-toggle="button" id="btn-add-favourite-video"><i class="fa fa-star"></i> Add to Favourites</button>'.html_safe, favourites_path(item_id: @video.id, item_type: "Video"), :method => :post, :remote => true %>
      <%= link_to "<button type='button' class='btn btn-link active' data-toggle='button'><i class='fa fa-clock-o'></i> Watch later</button>".html_safe, add_to_watch_list_url(@video.id, @course.id), :method => :post, :remote => true, :id => "watch_list_btn", "data-watch"=> is_watch_listed(@video.id, @course.id) %>
    </div>
  </div>
  <!-- col-4 ends -->
</div>