
/*
 * This is a manifest file that'll be compiled into application, which will include all the files
 * listed below.
 *
 * Any and  file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree ./admin
 *= require_self
 */

.btn-trans.disabled,.btn-trans[disabled] {color: #888;cursor:context-menu;}

.btn-trans.inprocess,.btn-trans[inprocess] {color: #5CB85C;cursor:context-menu;}

 #video_form_remove_link {
 	color: black;
 }

#channel_accordion .fields{
	margin-top: 5px;
}

#accordion1 .panel{
    margin-top: 5px;
}

/*column sorting css*/

#column_sort_css {
	text-decoration: none;
	color: #E02222;
}

.video_tag_list{
	width: 100%;
	height: 100%;
}

.pagination{
	float: right;
}

.modal-dialog {
  left: 50%;
  padding-bottom: 30px;
  padding-top: 30px;
  right: auto;
  width: 800px;
}

#bookmark_form{
	max-height: 180px;
	overflow-x: hidden;
	overflow-y:auto;
	width: auto;
}

#bookmark_form textarea.form-control {
    height: 34px;
}

#bookmark_form label.control-label{
	padding-left: 20px;
}