<div class="col-sm-2">
	<label class="control-label">Permissions</label>
</div>
<div class="col-sm-4">
	<div class="checkbox-list">
		<label class="checkbox-inline">
			<%= f.check_box :permission_watch %> Watch
		</label>
		<label class="checkbox-inline">
			<%= f.check_box :permission_create %> Create
		</label>
		<label class="checkbox-inline">
			<%= f.check_box :permission_share %> Share
		</label>  
	</div>
</div>