<div class="col-sm-2">
	<label class="control-label">Permissions</label>
</div>
<div class="col-sm-4">
	<div class="checkbox-list">
		<%= f.check_box :permission_watch %>
		<label class="checkbox-inline"> Watch </label>
		<%= f.check_box :permission_create %>
		<label class="checkbox-inline"> Create</label>
		<%= f.check_box :permission_share %>
		<label class="checkbox-inline"> Share </label>
	</div>
</div>