<div class="row">
	<div class="col-sm-4">
		<label for="trainer-name" class="control-label">Name of Trainer</label>
	</div>
	<div class="col-sm-8">
		<%= f.text_field :name, :class => "form-control" %>
</div>
</div>
<div class="seperator10"></div>							
<div class="row">
	<div class="col-sm-4">
		<label for="trainer-bio" class="control-label">Biography of Trainer</label>
	</div>
	<div class="col-sm-8">
		<%= f.text_area :biography, :rows => 2, :class => "form-control" %>
	</div>
</div>