<div class="row">
  <a href="/admin/channels/new"><button type="button" class="btn btn-default btn-success pull-right"><i class="fa fa-3x fa-plus"></i> Add new channel
  </button></a>
</div>
<div class="row">
  <div class="seperator5"></div>
  <div class="portlet-body flip-scroll">
    <table class="table table-bordered table-striped table-condensed flip-content table-hover" id="sample_1">
      <thead class="flip-content">
        <tr>
            <th>Channel Name</th>
            <th>Channel Type<i class="fa fa-3x fa-filter pull-right"></i></th>
            <th>Courses available<i class="fa fa-3x fa-filter pull-right"></i></th>
            <th>Types of Subscriptions available</th>
            <th>Number of Users</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>
</div>
