<%= javascript_include_tag "admin/jquery.dataTables.js", "admin/DT_bootstrap.js" %>
<div class="row">
  <a href="/admin/channels/new" data-no-turbolink="true" rel="tooltip" title="Add New Channel"><button type="button" class="btn btn-default btn-success pull-right"><i class="fa fa-3x fa-plus"></i> Add new channel
  </button></a>
</div>
<div class="row">
  <div class="seperator5"></div>
  <div class="portlet-body flip-scroll">
    <table class="table table-bordered table-striped table-condensed flip-content table-hover" id="channels">
      <thead class="flip-content">
        <tr>
            <th>Channel Name</th>
            <th>Courses Count</th>
            <th>Users Count</th>
            <th>Channel Type</th>
            <th>Subscription Types</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>
</div>

<script>
  $('#channels').dataTable({
    "bProcessing": true,
    "bServerSide": true,
    "iDisplayLength": 15,
    "bLengthChange": false,
    "sAjaxSource": "/admin/channels/search.json",
    "aoColumns": [
            { "mData": "name"},
            { "mData": "course_count"},
            { "mData": "user_count"},
            { "mData": "channel_type", "bSortable": false},
            { "mData": "subscription_types", "bSortable": false},
            { "mData": "actions", "bSortable": false }
        ] });
</script>