<%= javascript_include_tag "admin/jquery.dataTables.js", "admin/DT_bootstrap.js" %>
<section class="container">
  <div>
    <a href="/admin/channels/new" data-no-turbolink="true" rel="tooltip" title="Add New Channel"><button type="button" class="btn btn-default btn-success pull-right"><i class="fa fa-3x fa-plus"></i> Add New Channel
    </button></a>
  </div>
  <div class="row">
    <div class="seperator5"></div>
    <div class="portlet-body flip-scroll">
      <table class="table table-bordered table-striped table-condensed flip-content table-hover" id="channels">
        <thead class="flip-content">
          <tr>
              <th width="45%">Channel Name</th>
              <th width="15%">Course Count</th>
              <th width="15%">User Count</th>
              <th width="15%">Channel Type</th>
              <th width="10%">Action</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>
</section>

<script>
  $(document).ready(function(){
    var channelDatatable = $('#channels').dataTable({
      "bProcessing": true,
      "bServerSide": true,
      "iDisplayLength": 15,
      "bLengthChange": false,
      "bAutoWidth": false,
      "sAjaxSource": "/admin/channels/search.json",
      "aoColumns": [
              { "mData": "name"},
              { "mData": "course_count", "sClass" : "text-center"},
              { "mData": "user_count", "sClass" : "text-center"},
              { "mData": "channel_type", "bSortable": false, "sClass" : "text-center"},
              { "mData": "actions", "bSortable": false, "sClass" : "text-center"}],
      "aaSorting": [[ 1, "asc" ]] });

    $("#channels_filter").append('<select class="filter_column_names" id="column_names"><option value="">ALL</option><option value="name">Chanel Name</option>')

    $('select#column_names').change( function() { channelDatatable.fnFilter( $(this).val(), 1 ); } );
  })
</script>