<%= javascript_include_tag "admin/jquery.dataTables.js", "admin/DT_bootstrap.js" %>
<section class="container">
  <div class="row">
    <div class="col-md-12 nopadding">
      <% if can? :create, Channel %>
        <%= link_to raw_field("fa fa-3x fa-plus", "Add New Channel"), new_admin_channel_url(), :class => 'btn btn-default btn-success pull-right', "data-no-turbolink" => "true" %>
      <% end %>
    </div>
    <div class="seperator5"></div>
    <div class="portlet-body flip-scroll">
      <table class="table table-bordered table-striped table-condensed flip-content table-hover" id="channels">
        <thead class="flip-content">
          <tr>
              <th width="25%">Channel Name</th>
              <th width="20%">Channel Admin</th>
              <th width="15%">Course Count</th>
              <th width="15%">User Count</th>
              <th width="15%">Channel Type</th>
              <th width="10%">Action</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>
</section>

<script>
  $(document).ready(function(){
    var tableId = '#channels';
    var url = "/admin/channels/search.json";
    var aoColumns = [{ "mData": "name"},
    { "mData": "channel_admin_user", "sClass" : "text-center"},
    { "mData": "course_count", "sClass" : "text-center"},
    { "mData": "user_count", "sClass" : "text-center"},
    { "mData": "channel_type", "bSortable": false, "sClass" : "text-center"},
    { "mData": "actions", "bSortable": false, "sClass" : "text-center"}];
    var optionNames = ["Channel Name"];
    var optionValues = ["name"];
    loadContents(tableId, url, aoColumns, optionNames, optionValues);
  })
</script>