<%= javascript_include_tag "admin/jquery.dataTables.js", "admin/DT_bootstrap.js" %>
<section class="container">
  <div class="col-md-12 nopadding">
    <a href="#add-user" data-toggle="modal" class="btn btn-default btn-success pull-right" rel="tooltip" title="Add New User"><i class="fa fa-3x fa-plus"></i> Add New User</a>
  </div>

  <div class="row">
    <div class="seperator5"></div>
    <div class="portlet-body flip-scroll">
      <table class="table table-bordered table-striped table-condensed flip-content table-hover datatable" id="users">
        <thead class="flip-content">
          <tr>
              <th width='15%;'>User Name</th>
              <th width='15%;'>Full Name</th>
              <th width='18%;'>Email ID</th>
              <th width='15%;'>Contact Number</th>
              <th width='15%;'>Company Name</th>
              <th width='17%;'>Address</th>
              <th width='10%;'>Status</th>
              <th width='10%;'>Action</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>
</section>
 <div class="modal fade" id="add-user" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Add New User</h4>
      </div>
      <div class="modal-body form-group">
        <div class="row">
          <div class="col-md-2">
          <label>Choose</label>
          </div>
          <div class="col-md-10">
          <label>
          <input type="radio" name="user_mode" id="user_mode" value="single-user" data-redirect-url="<%= new_admin_user_path %>" checked=true>Add Single User
          </label><br>
          <label>
          <input type="radio" name="user_mode" id="user_mode" value="multiple-user" data-redirect-url="<%= new_bulk_admin_users_path %>">Add Multiple Users
          </label>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn blue user_action">Go</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<%= javascript_include_tag 'admin/app_functions/users' %>

<script>
  $(document).ready(function(){
    var userDatatable = $('#users').dataTable({
      "bProcessing": true,
      "bServerSide": true,
      "iDisplayLength": 15,
      "bLengthChange": false,
      "bAutoWidth": false,
      "sAjaxSource": "/admin/users/search.json",
      "aoColumns": [
              { "mData": "name"},
              { "mData": "actual_name"},
              { "mData": "email"},
              { "mData": "phone_number"},
              { "mData": "company_name"},
              { "mData": "address", "bSortable": false },
              { "mData": "confirm_status", "bSortable": false },
              { "mData": "actions", "bSortable": false, "sClass" : "text-center"}],
        "aaSorting": [[ 1, "asc" ]] });

    $("#users_filter").append('<select class="filter_column_names" id="column_names"><option value="">ALL</option><option value="name">User Name</option><option value="actual_name">Full Name</option><option value="email">Email</option><option value="phone_number">Contact Number</option><option value="company_name">Company Name</option>')

    $('select#column_names').change( function() { userDatatable.fnFilter( $(this).val(), 1 ); } );
  })
</script>