<div class="col-sm-1">
	<label class="control-label">Channel</label>
</div>
<div class="col-sm-2">
	<%= f.collection_select :channel_id , @channels, :id, :name_with_initial ,{:prompt => true}, {:class =>"form-control channel_id" }%>
</div>
<div class="col-sm-2">
	<label class="control-label">Channel Type</label>
</div>
<div class="col-sm-2">
	<%= text_field_tag 'channel_type', nil ,:class => "form-control" %>
</div>
<div class="col-sm-1 col-sm-offset-4">
	<a href="#"><i class="fa fa-question-circle"></i></a>
</div>

<script>
	getChannelType();
	$('.channel_id').live('change',function(){
		getChannelType();
	});
  function getChannelType(){
	 	var channel = $(".channel_id :selected").val();
		if(channel == undefined || channel == ""){
			$("#channel_type").val("");
		}else{
			$.ajax({
			    url: "/admin/channels/"+ channel +"/get_channel.json",
			    success: function(responseData) {
			      $("#channel_type").val(responseData.data.channel_type);
			    }
			})
		}
  }
 </script>