<div class="col-sm-2" style='width: 15%;'>
	<label class="control-label">User Permissions</label>
</div>
<div class="col-md-4">
	<div class="col-md-4">
		<%= f.check_box 'permission_watch', :checked => "checked" %><label>Watch</label>
	</div>
	<div class="col-md-4">
		<%= f.check_box 'permission_share' %><label>Share</label>
	</div>
	<div class="col-md-0">
		<%= f.check_box 'permission_create' %><label>Create</label>
	</div>
</div>	