<div class='row'>
	<div class="col-md-4">
		<label>User Permissions<%= required_field %></label>
	</div>
	<% index = params[:permission_id].split('_').last %>
	<div class="col-md-8">
		<div class="row">
		<% if @courses_permissions.permission_watch == true %>
			<div class="col-xs-3 nopadding-right">
					<%= check_box("user[user_channel_subscriptions_attributes][#{index}]","permission_watch", :checked => true) %><label>Watch</label>
			</div>
		<% end %>
		<% if @courses_permissions.permission_share == true %>
			<div class="col-xs-3 nopadding-right">
					<%= check_box("user[user_channel_subscriptions_attributes][#{index}]","permission_share") %><label>Share</label>
			</div>
		<% end %>
		<% if @courses_permissions.permission_create == true && @course.course_admin_user_id.blank? %>
			<div class="col-xs-4">
					<%= check_box("user[user_channel_subscriptions_attributes][#{index}]","permission_create", :class => 'permission_create') %><label>Create</label>
			</div>
		<% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
	 $('.permission_create').change(function(){
    if($(this).is(":checked")) {
    	$(this).closest(".fields").find(".subscriptions_id").removeClass('validate[required]');
    	$(this).closest(".fields").find(".subscription_date").removeClass('validate[required]');
    	$(this).closest(".fields").find(".expiry_date").removeClass('validate[required]');
    }
  })

</script>