/************* =Include Web fonts    ***/
@font-face {
    font-family: 'MyriadProRegular';
    src: url('/assets/MyriadPro-Regular.eot');
    src: url('/assets/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/MyriadPro-Regular.woff') format('woff'),
         url('/assets/MyriadPro-Regular.ttf') format('truetype'),
         url('/assets/MyriadPro-Regular.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadProBold';
    src: url('/assets/myriadwebpro-bold.eot');
    src: url('/assets/myriadwebpro-bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/myriadwebpro-bold.svg#Myriad Web Pro') format('svg'),
         url('/assets/myriadwebpro-bold.woff') format('woff'),
         url('/assets/myriadwebpro-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


/*** =Reset  ***/

ul,ol,dd {list-style-type: none;padding: 0;margin: 0}

.seperator5 {min-height: 5px}
.seperator10 {min-height: 10px}
.seperator15 {min-height: 15px}
.seperator20 {min-height: 20px}

.v-seperator5 {width:5px;height:100%}
.test {border:1px solid #f00;}
.fix-overflow {overflow: hidden;}

.nopadding {padding:0;}
.nomargin {margin:0}
.nospace {margin:0;padding:0}
.nopadding-left {padding-left: 0}
.nopadding-right {padding-right: 0}
.padding-top-10 {padding-top: 10px;}
.margin-top-8 {margin-top: 8px;}
.margin-top-10 {margin-top: 10px;}
.hand-cursor {cursor: pointer;}
.uppercase {text-transform:uppercase}
.lowercase {text-transform: lowercase;}
.capitalize {text-transform: capitalize;}
.text-justify {text-align:justify;}
.v-center {vertical-align: middle !important;}


.red-text {color:#b94a48;}
.some-error {color:#b94a48;}

.img-border {border:1px solid #ccc;}

#homepage > .row {margin-right: 0}

.square-top-left {-webkit-border-top-left-radius:0; border-top-left-radius: 0px;-webkit-border-top-left-radius:0;}
.square-top-right {-webkit-border-top-right-radius:0;border-top-right-radius: 0px;-webkit-border-top-left-radius:0;}
.square-bottom-left {-webkit-border-bottom-left-radius:0;border-bottom-left-radius: 0px;-webkit-border-top-left-radius:0;}
.square-bottom-right {-webkit-border-bottom-right-radius:0;border-bottom-right-radius: 0px;-webkit-border-top-left-radius:0;}

hr.black {border-color:#000 !important;}
hr.grey {border-color:#666 !important;}
hr.white {border-color:#fff !important;}

body {padding-top:60px !important;font-family:'MyriadProRegular', Sans-Serif !important;padding-bottom: 60px;font-size: 14px;}

h1,h2,h3,h4,h5,h6 {font-family: 'MyriadProBold', Sans-Serif;}
p {font-family: 'MyriadProRegular',Sans-Serif;}

/*********** +Multilevel Dropdown for Homepage *********/

.dropdown-submenu{
    position:relative;
}
.dropdown-submenu > .dropdown-menu
{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}

.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu:hover > a:after{
    border-left-color:#ffffff;
}

.dropdown-submenu .pull-left{
    float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

/****  Custom Dropdown links **/
#lazuli-top-menu .navbar-nav .dropdown-menu li a {color: #000 !important}
#lazuli-top-menu .navbar-nav .dropdown-menu li a:hover {color: #fff !important}
#lazuli-top-menu .navbar-form {border:0;}

.login-options li a {text-transform: capitalize;}

/************* +Multilevel Ends ****************************/

@media only screen and (min-width: 741px) and (max-width: 767px) {
  .navbar-form {margin: 0}

}

/********** =Buttons *****/
.btn {font-size: 16px;}

.btn-dark {
  color: #ffffff;
  background-color: #222222;
  border-color: #222222;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  color: #ffffff;
  background-color: #444444;
  border-color: #333333;
}

.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  background-image: none;
}


.btn-danger {
  color: #ffffff;
  background-color: #e43f27;
  border-color: #e43f27;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #e43f27;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}


.btn-primary {
  color: #ffffff;
  background-color: #103e8b;
  border-color: #103e8b;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #3276b1;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}


/******** =Colors **********/

.violet {background: #103e8b !important;}
.yellow-back {background: #f0ad4e !important}
.yellow-text {color: #f0ad4e !important}
.orange-text {color: #fb7200 !important}
.orange-back {background: #fb7200 !important}
.red-text {color: #ff0000 !important}
.red-back {background: #ff0000 !important}
.blue-text {color:#00A8EC !important;}
.white-text {color:#ccc !important;}
.green-text {color:#5cb85c !important;}

.blue-text:hover,.yellow-text:hover,.orange-text:hover,.red-text:hover,.white-text:hover,.green-text:hover {color: #fff !important}

/************* =Bootstrap fixes **********/
.navbar {border-bottom: 0}
.navbar-inverse {background: #454646;border-color: #454646}
.navbar-nav li {font-size: 1.1em;text-transform: uppercase;}
.navbar-nav li a{color:#ececec !important;}
.navbar-nav li a:hover {color: #fff !important;background: #000 !important}


.navbar-default .navbar-nav > .a {filter:progid:DXImageTransform.Microsoft.gradient(enabled = 'false';) }
.carousel-control {filter:alpha(enabled='false');}
.carousel-control.left, .carousel-control.right {filter: progid:DXImageTransform.Microsoft.gradient(enabled = 'false');}
.dropdown-menu li a:hover,.dropdown-menu li a:focus {filter:progid:DXImageTransform.Microsoft.gradient(enabled = 'false';)}
/***********  =Homepage ***********/

/*section {padding-bottom: 0.5em;} */
.brush {background: url(/assets/frontend/lazuli-transparent-back.png) no-repeat top center fixed; background-size:cover; -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

.lemon {background-color: #ffca00;}
.citrus {background-color: #23d090;}

.lemon-grad {
background: #ffca00; /* Old browsers */
background: -moz-linear-gradient(top,  #ffca00 0%, #ffb901 31%, #ff9a00 72%, #ff9800 77%, #ff9a02 77%, #fc9802 78%, #ff9700 79%, #ff8c00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffca00), color-stop(31%,#ffb901), color-stop(72%,#ff9a00), color-stop(77%,#ff9800), color-stop(77%,#ff9a02), color-stop(78%,#fc9802), color-stop(79%,#ff9700), color-stop(100%,#ff8c00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffca00 0%,#ffb901 31%,#ff9a00 72%,#ff9800 77%,#ff9a02 77%,#fc9802 78%,#ff9700 79%,#ff8c00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffca00 0%,#ffb901 31%,#ff9a00 72%,#ff9800 77%,#ff9a02 77%,#fc9802 78%,#ff9700 79%,#ff8c00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffca00 0%,#ffb901 31%,#ff9a00 72%,#ff9800 77%,#ff9a02 77%,#fc9802 78%,#ff9700 79%,#ff8c00 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffca00 0%,#ffb901 31%,#ff9a00 72%,#ff9800 77%,#ff9a02 77%,#fc9802 78%,#ff9700 79%,#ff8c00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffca00', endColorstr='#ff8c00',GradientType=0 ); /* IE6-9 */

}


/************=Homepage ************/

.homepage-modals .modal {overflow-y: auto;padding-top: 50px;}
.homepage-modals .close {margin-top: 2px;}
.homepage-modals .modal-header {padding: 5px 15px !important;}
.homepage-modals .modal-body {padding-bottom: 10px;}
.homepage-modals .modal-footer {margin-top: 10px;}
.homepage-modals label, .homepage-modals input {font-size: 14px;font-weight: normal;}
.homepage-modals input {height: 30px;}
.homepage-modals .checkbox {margin-top: 0px;}
.homepage-modals input[type="checkbox"] {height: 14px;margin-right: 5px;margin-top: 3px;}


/********** =Login box ***************/
.user-signup-form label {font-size: 12px;}
.user-signup-form input {font-size: 12px;padding: 3px 10px;height: 25px}

.global-ids {margin-top: 5px;}
.global-ids li+li {margin: 15px 0}

.user-log-form {padding: 5px 10px;border: 1px solid #ccc }
.form-group {margin-bottom: 7px !important}

.small-text {font-size: 11px !important;font-weight: normal !important;}

.social-login-btns li {display: inline-block;padding: 0 10px;}

.content-right {padding-right: 0;margin-top: 100px;margin-right:50px; }
.content-left {padding-left: 0;margin-top: 10px;margin-left: 6px;}

/***********   =Placeholder        *****/
.content-right .srch-bar ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
.content-right .srch-bar :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
}
.content-right .srch-bar ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}
.content-right .srch-bar :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}

.left-padding-fix {padding-left: 6px;}

.welcome-text {color:#fff;margin-bottom: 10px;}

.welcome-text h4, .welcome-text h5 {font-size: 24px;background-color: #e7b00e;background-color: rgba(16,62,139,0.1);margin-bottom: 0;line-height:24px;font-size: 24px;}
.welcome-text h4 {margin-top: 5px;padding: 15px 15px 2px 15px; float: left;}
.welcome-text h5 {padding: 2px 15px 5px 15px;clear: left;}
.welcome-text p {font-size: 1em;padding: 0 15px 16px 15px;background: #e7b00e;background-color: rgba(16,62,139,0.1);font-family: 'MyriadProBold',Sans-Serif !important}

.welcome-quote {margin-top: 100px;}
.welcome-quote h2 {font-family:'MyriadProBold',Sans-Serif;color: #fff;font-size: 28px;margin-top: 5px;font-style: italic;}
.welcome-quote h2 span {font-family: 'MyriadProRegular',Sans-Serif;font-size: 24px;font-style: normal;}
.welcome-quote cite {display: block;font-weight: normal;font-size: 18px;margin-top: 5px;font-family: 'MyriadProRegular',Sans-Serif;color: #fff}


/********* =Welcome Page ********/
.welcome-videos h3 {margin:0;font-size:18px !important;line-height:30px;color: #fff;border-radius: 6px;background: #e44027;overflow: hidden;padding:4px 15px;position: relative;z-index: 9;font-family: 'MyriadProRegular',Sans-Serif}


/*** =Carousel Starts **/
.welcome-videos .carousel {overflow: hidden;background: #fff;position: relative;z-index: 1;margin-top: -4px}
.welcome-videos .item {background: #fff;text-align: center;}
.welcome-videos .wel-showcase {list-style-type: none}
.welcome-videos .carousel img {display: inline;max-width: 180px;max-height: 110px;border: 3px solid #fff;box-shadow: 0 0 10px #888888;margin: 10px;} 
.welcome-videos .item li {display: inline-block;}
.welcome-videos .item li a {float: left;}


.welcome-videos .carousel-caption {position: relative;left:0;bottom: 0;right: 0;padding: 0}
.welcome-videos .carousel-caption h4 {margin: 0;text-align: left;font-family: 'MyriadProRegular',Sans-Serif !important;padding:6px 10px 10px 10px;font-size: 16px;background: #103e8b;}


.welcome-videos .carousel-control {top: 45px;background: none;width: 20px;height: 46px;opacity: 1}
.welcome-videos .carousel-control:hover {opacity: 0.6}
.welcome-videos .carousel-control.left {background: url('/assets/frontend/carousel-back-left.png') no-repeat;line-height: 45px;margin-left: 0px;border-radius: 0 !important;text-indent: -2px;}
.welcome-videos .carousel-control.right {background: url('/assets/frontend/carousel-back-right.png') no-repeat;line-height: 45px;margin-right:0px;border-radius: 0 !important;text-indent: 3px;}

/** =Carousel Ends **/


.video-slides h4 {background: #e43e26;padding: 6px 10px;color: #fff;margin: 0;}
/*** =Carousel Starts **/


.video-slides .carousel {overflow: hidden;}
.new-vid-list {background: #fff}

.new-vid-list .video-thumbs {margin: 10px 15px;text-align: center;padding-bottom: 10px;}
.new-vid-list .video-thumbs li {display: inline-block;width: 24%;height: 150px;}
.new-vid-list .video-thumbs li a {float: left;}
.new-vid-list .video-thumbs li img {max-width:100%;max-height: 150px;width: 100%}
.new-vid-list .video-thumbs p {text-align: left; color:#454545;}

.new-vid-list .carousel-control {top: 65px;background: none;width: 20px;height: 46px;opacity: 1}
.new-vid-list .carousel-control:hover {opacity: 0.6}
.new-vid-list .carousel-control.left {background: url('/assets/frontend/carousel-back-left.png') no-repeat;line-height: 45px;margin-left: 0px;border-radius: 0 !important;text-indent: -2px;}
.new-vid-list .carousel-control.right {background: url('/assets/frontend/carousel-back-right.png') no-repeat;line-height: 45px;margin-right:0px;border-radius: 0 !important;text-indent: 3px;}


/** =Carousel Ends **/

.all-courses {background: #095795;border: 1px solid #063c6b;color: #fff;padding:5px 10px;}

.all-courses h4 {margin: 4px 0;}

.courses-list-box {height: 370px;overflow-y:auto;overflow-x: hidden;}
.partial-courses-list-box {min-height: 700px;overflow-x: hidden;}

.courses-list {overflow: hidden;background: #fff;border-bottom: 5px solid #095795}
.courses-list:last-child {border-bottom: none;}
.courses-list .list-content {list-style-type: none;color: #000;}

ul.list-content {list-style-type:none;padding-left: 0;}
.list-content li {margin-top: 5px;}
.list-content li.title a{color: #000;font-family: 'MyriadProBold',Sans-Serif}
.list-content li.subs-date a{color: #f00;font-family: 'MyriadProBold',Sans-Serif;}
.list-content li.subs-date span a{text-decoration: underline;float: right;}
.list-content li.subs-date span a:hover {text-decoration: none}

.course-logo-img, .course-featured-video {padding: 10px 15px;}

/********** Landing page Ends ***********/

/************* =Course Selected   ********/

.user-option-btns li {display: inline-block;width:32.6%;}
.user-option-btns li a {float: left;}

.breadcrumb {background: #fff;margin-bottom: 0;}
.breadcrumb>li+li:before {content:">";color: #095795; padding: 0 2px !important;}
.breadcrumb li a {color: #095795;font-size: 12px;}
.breadcrumb li.active {color: #f00;font-family: 'MyriadProBold',Sans-Serif}


.sub-ends p a{color: #fff;font-size: 0.8em;padding: 0 5px;}
.sub-ends p {margin-bottom: 0 }
.sub-ends {background: #ce0000 url(/assets/frontend/warning.png) no-repeat 5px center ;padding-left: 18px;margin: 0}

.view-course {background: #f5f5f5;color: #030303;-webkit-box-shadow: inset 0px 5px 6px -6px #777777;-moz-box-shadow: inset 0px 5px 6px -6px #777777;box-shadow: inset 0px 5px 6px -6px #777777;}
.view-course .btn-link {color: #000;text-decoration: none}
.view-course .btn-link:hover {color: #f00;text-decoration: none}
.view-course .video-tags {margin-top: 8px;}
.view-course .video-tags li {display: inline-block;font-family: 'MyriadProBold', Sans-Serif}
.view-course .video-tags li:first-child {padding-left: 10px}
.view-course .video-tags li a:after {content: ', '}
.view-course .video-tags li:last-child a:after {content: none}
.view-course .video-tags li a:hover {text-decoration: none;}
.video-save-options {text-align: right}

.place-video {height: 332px;}
.place-video iframe {width: 100%;height: 100%;}

.video-descr {margin-top: 5px;background: #f5f5f5 !important;}
.video-descr .channel-logo-pic img {max-width:100%;max-height: 110px;}
.video-descr h4 {margin: 0;}

.video-descr p {margin-top: 5px}

.course-menu {background: #095795;padding-top: 2px;padding-right: 10px;padding-bottom: 10px;}
.course-menu h5 {color: #fff;margin-top: 7px;margin-left: 10px;}
.course-menu h5 a {text-decoration: underline;color: #fff;}
.course-menu h5 a:hover {text-decoration: none;color: #fff;}

/* .parent-course-menu {height: 400px;overflow-y:scroll;} */
.parent-course-menu > li {line-height: 34px;padding-left: 16px;}
.parent-course-menu > li > a {color: #fff;display: block;background: url('/assets/frontend/caret-down.png') no-repeat;background-position: 95% 5px;}
.parent-course-menu > li.active {background: url('/assets/frontend/play-big.png') no-repeat -8px 3px !important;}
.parent-course-menu > li.active a {background-image: none }
.parent-course-menu > li.panel {background:none;border: none;margin-bottom: 0;border-radius: 0;
/*-webkit-box-shadow: inset 0px -7px 8px -6px rgba(0,0,0,0.34);
-moz-box-shadow: inset 0px -7px 8px -6px rgba(0,0,0,0.34);
box-shadow: inset 0px -7px 8px -6px rgba(0,0,0,0.34); */
-webkit-box-shadow:none;
box-shadow: none;
}

.parent-course-menu li a:hover{text-decoration: none;color: #000}

.parent-course-menu li ul.child-course-menu {margin-left: -5px}
.parent-course-menu li ul.child-course-menu li {background: url('/assets/frontend/play.png') no-repeat 1px 7px;} 
.parent-course-menu li ul.child-course-menu li a {display: block;color: #fff;padding-left: 16px}
.parent-course-menu li ul.child-course-menu li a:hover {color: #003366;}
.parent-course-menu li ul.child-course-menu li.active {background-color: #063c6b;color: #fff}
.child-course-menu li span {float: right;padding-right: 20px;}

.user-rcmnd-videos {margin-top: -1px}
.user-rcmnd-videos h3 {color: #fff;background: #e43e26;margin: 0;padding: 8px 16px; font-size: 1.2em;font-family: 'MyriadProRegular',Sans-Serif !important}

.rcmd-videos-carousel .carousel {overflow: hidden;}
.rcmd-vid-list .video-thumbs {text-align: center;}
.rcmd-vid-list .video-thumbs li {display: inline-block;}
.rcmd-vid-list .video-thumbs li a {float: left;}

.rcmd-vid-list .video-thumbs {margin: 10px 15px;text-align: center;padding-bottom: 10px;}
.rcmd-vid-list .video-thumbs li {display: inline-block;width: 15%;height: 150px;margin-left: 15px;}
.rcmd-vid-list .video-thumbs li a {float: left;}
.rcmd-vid-list .video-thumbs li a:hover {text-decoration: none;}
.rcmd-vid-list .video-thumbs li img {max-width:100%;max-height: 150px;width: 100%}
.rcmd-vid-list .video-thumbs li:hover img {border:1px solid #999;}
.rcmd-vid-list .video-thumbs p {text-align: left; color:#454545;}

.rcmd-vid-list .carousel-control {top: 60px;background: none;width: 20px;height: 46px;opacity: 1}
.rcmd-vid-list .carousel-control:hover {opacity: 0.6}
.rcmd-vid-list .carousel-control.left {background: url('/assets/frontend/carousel-back-left.png') no-repeat;line-height: 45px;margin-left: 0px;border-radius: 0 !important;text-indent: -2px;}
.rcmd-vid-list .carousel-control.right {background: url('/assets/frontend/carousel-back-right.png') no-repeat;line-height: 45px;margin-right:0px;border-radius: 0 !important;text-indent: 3px;}


.btn-yellow {color: #fff;background-color:#edaa01;border-color:#edaa01;}
.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active {color: #fff;background-color: #ff9900;border-color: #edaa01;}

.btn-square {border-radius: 0 !important;-webkit-border-radius: 0 !important;-moz-border-radius: 0 !important;}


/***** =Footer ********/
footer .navbar {margin-bottom: 0;min-height: 40px;border: 0}
footer .navbar-nav li a {padding-top: 10px;padding-bottom: 10px;color: #ececec !important;font-size: 14px;}

footer .navbar-nav li a:hover {text-decoration: none;background: #000 !important}

footer .navbar-toggle {position: fixed;right: 3px;z-index: 1080;height: 40px;bottom: -7px}
footer .navbar-header .btn {padding: 2px 10px !important} 

/**************  MEDIA QUERIES ******************/

/*********  =media   =Toggler Footer fix for mobile and tablet *****************/
@media only screen and (max-width: 991px) {


body {padding-bottom: 70px}

footer .navbar-header {
        float: none;
    }
footer .navbar-toggle {
        display: block;
    }
footer .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      padding-top: 3px;
      padding-bottom: 3px;
    }
footer .navbar-collapse.collapse {
        display: none!important;
    }
footer .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
footer .navbar-nav>li {
        float: none;
    }
footer .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

footer .navbar-toggle {border:none;color: #fff;}

.footer-bar-btns {text-align: center;margin-top: 4px;}
.footer-bar-btns li {display: inline-block;padding-left: 20px}
.footer-bar-btns li a {float: left;}

.content-right {margin-left:10px;margin-top: 50px;margin-right: 0}
.content-left {margin-left:10px;}

.welcome-videos .wel-showcase {text-align: center;display:inline-block;}
.welcome-videos .wel-showcase li {display: none;}
.welcome-videos .wel-showcase li:first-child {display:block;}
.welcome-videos .wel-showcase li a {float: none}


} 

/*************************   =media 756 mobile ends    ************************************/
@media only screen and (max-width:756px) {
#lazuli-top-menu .navbar-form {border:0;margin: 0}
#lazuli-top-menu .navbar-nav .open .dropdown-menu li a{color: #fff !important}

.welcome-videos .wel-showcase {text-align: center;}
.welcome-videos .wel-showcase li {display: none;}
.welcome-videos .wel-showcase li:first-child {display:block;}
.welcome-videos .wel-showcase li a {float: none}


.new-vid-list .video-thumbs {text-align: center;}
.new-vid-list .video-thumbs li {display: none;width: 100% !important; }
.new-vid-list .video-thumbs li:first-child {display: block;width: 100% !important;}

.content-right {padding-right:0;margin-top: 0;} /**  remove padding in mobile view ***/
.content-left {padding-left: 0}

ul.list-content {list-style-type:none;padding-left: 0}
.list-content li {margin-top: 5px;}
.list-content li.title a{font-family: 'MyriadProBold',Sans-Serif;color: #000}
.list-content li.subs-date a{color: #f00;font-family: 'MyriadProBold',Sans-Serif}
.list-content li.subs-date span {display: inline-block;}
.list-content li.subs-date span a{text-decoration: underline;float: none;}
.list-content li.subs-date span a:hover {text-decoration: none}

.rcmd-vid-list .video-thumbs li {display: none;width: 100% !important;}
.rcmd-vid-list .video-thumbs li.vimeo-link {width: 100%;margin-left: 0}
.rcmd-vid-list .video-thumbs li:first-child {display: block;width: 100% !important;}



.footer-bar-btns {text-align: center;margin-top: 4px;}
.footer-bar-btns li {display: inline-block;padding-left: 10px}
.footer-bar-btns li a {float: left;}

footer #footer-body .navbar-nav li {font-size: 12px;}
.courses-list-box {height: 200px;overflow-y:scroll;overflow-x: hidden;}

footer .navbar-toggle {border:none;color: #fff;margin: 2px 10px 7px 10px;}

html {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {padding-bottom: 70px;}

.video-save-options {text-align: left}

} /* media query ends  */

/*************************  =media 768 and 880       ************************************/
	
@media only screen and (min-width:768px) and (max-device-width: 880px)  {
.nav>li:first-child>a {padding-left: 0;padding-right: 0}


}	

/*************************  =media 757 and 994       ************************************/

@media only screen and (min-width: 757px) and (max-width: 994px) {

.welcome-videos .wel-showcase li a {float: left}


.new-vid-list .video-thumbs li {display: none;width: 49.5% !important;}
.new-vid-list .video-thumbs li a {float: left;}
.new-vid-list .video-thumbs li.vimeo-thumb {width: 49.5%;}

.new-vid-list .video-thumbs li:nth-child(1) {display: inline-block;}
.new-vid-list .video-thumbs li:nth-child(2) {display: inline-block;}

.rcmd-vid-list .video-thumbs li {display: none;}
.rcmd-vid-list .video-thumbs li.vimeo-link {width:49%;margin-left: 0}
.rcmd-vid-list .video-thumbs li:nth-child(1) {display: inline-block;}
.rcmd-vid-list .video-thumbs li:nth-child(2) {display: inline-block;}


}
/**------------------ =Off Canvas----------------*/

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -100%;    /*-50% for 6 columns */
    width: 100%;
    margin-left: 30px;
  }

  .row-offcanvas-right.active {
    right: 100%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 100%; /* 6 columns */
/*    margin-left:-15px;  */
    padding-left: 14px !important;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}


.slimScrollBar {opacity: 0.6 !important;display: block !important;}
/*.slimScrollRail {display: block !important;background: #000 !important;opacity: 0.5 !important;border-radius: 0 !important;}*/

/***
Notes
***/

/* Common styles for all types */
.note {
  margin: 0 0 20px 0;
  padding: 8px 30px 8px 15px !important;
  border-left: 5px solid #eee;
}

.note h1,
.note h2,
.note h3,
.note h4 {
  margin-top: 0;
}

.note p:last-child {
  margin-bottom: 0;
}
.note code,
.note .highlight {
  background-color: #fff;
}

/* Variations */
.note-danger {
  background-color: #FAEAE6;
  border-color: #ed4e2a;
}

.note-warning {
  background-color: #FCF3E1;
  border-color: #fcb322;
}

.note-info {
  background-color: #E8F6FC;
  border-color: #57b5e3;
}

.note-success {
  background-color: #EBFCEE;
  border-color: #3cc051;
}
