/************* =Include Web fonts    ***/
@font-face {
    font-family: 'MyriadProRegular';
    src: url('/assets/MyriadPro-Regular.eot');
    src: url('/assets/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/MyriadPro-Regular.woff') format('woff'),
         url('/assets/MyriadPro-Regular.ttf') format('truetype'),
         url('/assets/MyriadPro-Regular.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadProBold';
    src: url('/assets/myriadwebpro-bold.eot');
    src: url('/assets/myriadwebpro-bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/myriadwebpro-bold.svg#Myriad Web Pro') format('svg'),
         url('/assets/myriadwebpro-bold.woff') format('woff'),
         url('/assets/myriadwebpro-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


/*** =Reset  ***/

ul,ol,dd {list-style-type: none;padding: 0;margin: 0}

.seperator5 {min-height: 5px}
.seperator10,.seperator-10 {min-height: 10px}
.seperator15 {min-height: 15px}
.seperator20 {min-height: 20px}

.v-seperator5 {width:5px;height:100%}
.test {border:1px solid #f00;}
.fix-overflow {overflow: hidden;}

.nopadding {padding:0;}
.nomargin {margin:0}
.nospace {margin:0;padding:0}
.nopadding-left {padding-left: 0 !important;}
.nopadding-right {padding-right: 0}
.padding-top-10 {padding-top: 10px;}
.margin-top-8 {margin-top: 8px;}
.margin-top-10 {margin-top: 10px;}
.hand-cursor {cursor: pointer;}
.uppercase {text-transform:uppercase}
.lowercase {text-transform: lowercase;}
.capitalize {text-transform: capitalize;}
.text-justify {text-align:justify;}
.default-height {min-height:40px;}
.default-line-height{min-height: 17px !important;}
.rating_inline{display:inline;}
.star-ratings{margin-left:25px;}
.v-center {vertical-align: middle !important;}


.red-text {color:#b94a48;}
.some-error {color:#b94a48;}

.img-border {border:1px solid #ccc;}

#homepage > .row {margin-right: 0}

hr.black {border-color:#000 !important;}
hr.grey {border-color:#666 !important;}
hr.white {border-color:#fff !important;}

body {padding-top:55px !important;font-family:'MyriadProRegular', Sans-Serif !important;padding-bottom: 60px;font-size: 14px;}

h1,h2,h3,h4,h5,h6,b,strong,.myriad-bold {font-family: 'MyriadProBold', Sans-Serif;font-weight: normal;}
p {font-family: 'MyriadProRegular',Sans-Serif;}


.lazuli-container {padding-left: 15px;padding-right: 15px;}
.navbar-container {padding-right: 15px}
.no-container {margin: 0;padding: 0}


/**********  =Homepage *********************/

/*.srch-bar button.lens-btn {width: 40px}
*/.srch-bar input.home-srch-bar {border:none;margin-left: -3px;}


.three-btns .col-xs-4 {padding-right: 5px;padding-left: 5px}
.three-btns .col-xs-4:first-child {padding-left: 15px}
.three-btns .col-xs-4:last-child {padding-right: 15px}

.three-btns .col-xs-4 .btn {padding: 0 6px}

/*********** +Multilevel Dropdown for Homepage *********/


.dropdown-submenu{
    position:relative;
}
.dropdown-submenu > .dropdown-menu
{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}

.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

@media (max-width: 1024px) {
.home-bc  .dropdown-submenu > a:after, .lazuli-course-dd .dropdown-submenu > a:after{
    display:none;}

.lazuli-course-dd .dropdown-submenu .dropdown-menu {padding: 0}

.lazuli-course-dd .open .dropdown-menu > li > a {padding-left: 15px}

.hide-this-menu {display: none !important; }

.lazuli-course-dd {position: absolute;z-index: 999999;}
.lazuli-course-dd-content {background: #333}
.navbar-nav .open .dropdown-menu {background: #fff}


}

.dropdown-submenu:hover > a:after{
    border-left-color:#ffffff;
}

.dropdown-submenu .pull-left{
    float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

/****  Custom Dropdown links **/

#lazuli-top-menu .navbar-nav .dropdown-menu li a {color: #000 !important}
#lazuli-top-menu .navbar-nav .dropdown-menu li a:hover {color: #fff !important}
#lazuli-top-menu .navbar-form {border:0;}
#lazuli-top-menu .navbar-form .input-group .input-group-btn button {border-right:1px solid #ccc;}
#lazuli-top-menu.navbar {margin-bottom: 0}
.navbar-right .dropdown-fix {right: auto !important;}

#lazuli-top-menu .input-group input#main_search {border: none}
#lazuli-top-menu .lazuli-dd-user-btn button {background: #454545;}
#lazuli-top-menu .lazuli-dd-user-btn:hover button.btn {background: #000;border-color: #000}
#lazuli-top-menu .lazuli-dd-user-btn button.text-btn {border-top-right-radius: 0;border-bottom-right-radius: 0}

.login-options li a {text-transform: capitalize;padding-left: 15px !important;padding-right: 15px !important;display: block;}

/************* +Multilevel Ends ****************************/

@media only screen and (min-width: 741px) and (max-width: 767px) {
  .navbar-form {margin: 0}

}

/********** =Buttons *****/
.btn {
  display: inline-block;
  padding: 0 12px;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  height: 34px;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}


.btn-icon {width: 50%}


.btn-dark {
  color: #ffffff;
  background-color: #222222;
  border-color: #222222;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  color: #ffffff;
  background-color: #444444;
  border-color: #333333;
}

.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  background-image: none;
}


.btn-danger {
  color: #ffffff;
  background-color: #e43f27;
  border-color: #e43f27;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #e43f27;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}


.btn-primary {
  color: #ffffff;
  background-color: #103e8b;
  border-color: #103e8b;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #3276b1;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}


.input-group-btn .btn {height: 34px}
.input-group-btn .btn-danger {height: 34px}
/******** =Colors **********/

.violet {background: #103e8b;}
.yellow-back {background: #f0ad4e}
.yellow-text {color: #f0ad4e}
.orange-text {color: #fb7200}
.orange-back {background: #fb7200}
.red-text {color: #ff0000}
.red-back {background: #ff0000}
.blue-text {color:#00A8EC;}
.white-back {background:#fff;}
.white-text {color:#fff;}
.off-white-text {color: #ccc}
.green-text {color:#5cb85c;}
.indigo-back {background: #095795;}

/************* =Bootstrap fixes **********/
.navbar {border-bottom:0;}
.navbar-inverse {background: #454646;border-color: #454646;border-bottom: none;}
.navbar-nav li {font-size: 1em;text-transform: uppercase;}
.navbar-nav li a{color:#ececec !important;}
.navbar-nav.login-options li a:hover {background: #000}
#lazuli-top-menu .navbar-nav li a:hover {color: #fff !important;background: #000}

.navbar-default .navbar-nav > .a {filter:progid:DXImageTransform.Microsoft.gradient(enabled = 'false'); }
.dropdown-menu li a:hover,.dropdown-menu li a:focus {filter:progid:DXImageTransform.Microsoft.gradient(enabled = 'false');}
/***********  =Homepage ***********/

/*section {padding-bottom: 0.5em;} */
.brush {background: url(/assets/frontend/lazuli-transparent-back.png) no-repeat top center fixed; background-size:cover; -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

.lemon {background-color: #ffca00;}
.citrus {background-color: #23d090;}



/************=Homepage ************/

.homepage-modals .modal {overflow-y: auto;padding-top: 40px;}
.homepage-modals .close {margin-top: 2px;}
.homepage-modals .modal-header {padding: 5px 15px !important;}
.homepage-modals .modal-body {padding-bottom: 10px;}
.homepage-modals .modal-footer {margin-top: 10px;}
.homepage-modals label, .homepage-modals input {font-size: 14px;font-weight: normal;}
.homepage-modals input {height: 30px;}
.homepage-modals .checkbox {margin-top: 0px;}
.homepage-modals input[type="checkbox"] {height: 14px;margin-right: 5px;margin-top: 3px;}


/********** =Login box ***************/
.user-signup-form label {font-size: 12px;}
.user-signup-form input {font-size: 12px;padding: 3px 10px;height: 25px}

.global-ids {margin-top: 5px;}
.global-ids li+li {margin: 15px 0}

.user-log-form {padding: 5px 10px;border: 1px solid #ccc }
.form-group {margin-bottom: 7px !important}

.small-text {font-size: 11px !important;font-weight: normal !important;}

.social-login-btns li {display: inline-block;padding: 0 10px;}

.content-right {padding-right: 0;margin-top: 100px;margin-right:50px; }
.content-left {padding-left: 0;margin-top: 50px;margin-left: 6px;}

/***********   =Placeholder        *****/
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #9c9c9c;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #9c9c9c;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #9c9c9c;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #9c9c9c;
}

/***********   =Placeholder        *****/
.srch-bar ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
.srch-bar :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
}
.srch-bar ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}
.srch-bar :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}

.left-padding-fix {padding-left: 6px;}

.welcome-text {color:#fff;margin-bottom: 10px;}

.welcome-text h4, .welcome-text h5 {font-size: 24px;background-color: #e7b00e;background-color: rgba(16,62,139,0.1);margin-bottom: 0;line-height:24px;font-size: 24px;}
.welcome-text h4 {margin-top: 5px;padding: 15px 15px 2px 15px; float: left;}
.welcome-text h5 {padding: 2px 15px 5px 15px;clear: left;}
.welcome-text p {font-size: 1em;padding: 0 15px 16px 15px;background: #e7b00e;background-color: rgba(16,62,139,0.1);font-family: 'MyriadProBold',Sans-Serif !important}

.welcome-quote {margin-top: 60px;}
.welcome-quote h2 {font-family:'MyriadProBold',Sans-Serif;color: #fff;font-size: 28px;margin-top: 5px;font-style: italic;}
.welcome-quote h2 span {font-family: 'MyriadProRegular',Sans-Serif;font-size: 24px;font-style: normal;}
.welcome-quote cite {display: block;font-weight: normal;font-size: 18px;margin-top: 5px;font-family: 'MyriadProRegular',Sans-Serif;color: #fff}

/********* =Anchor btn fix *********************/

a.btn {height:34px;line-height: 2.2em}


/********* =Welcome Page ********/
.welcome-videos-title {position: relative;z-index: 9;background: #fff;border-top-left-radius: 6px;border-top-right-radius: 6px}
.welcome-videos-title h3 {margin:0;font-size:18px !important;line-height:30px;color: #fff;font-family: 'MyriadProRegular',Sans-Serif;background: #e44027;border-radius: 6px;overflow: hidden;padding:4px 15px;}


/********************************** =Home Carousel  *************************************/

.welcome-videos .slide {height: 115px;margin:0 60px;padding-top: 10px}
.welcome-videos .carousel-box .bx-wrapper .bx-viewport .slide img {height:50px;width:162px;}
.welcome-videos .carousel-box .slide{margin-top: 20px;}

.bx-wrapper .bx-viewport .slide img {height: 95px;width: 160px;border:3px solid #fff;-webkit-box-shadow: 0px 0px 8px 0px rgba(11,11,11, 0.75);
-moz-box-shadow:    0px 0px 8px 0px rgba(11,11,11, 0.75);
box-shadow:         0px 0px 8px 0px rgba(11,11,11, 0.75);}
/**** image fixed from 145 to 160 ********/

.welcome-videos .bx-caption {background: #103e8b;padding: 5px 15px}
.welcome-videos .bx-caption h4 {margin: 0;text-align: left;font-family: 'MyriadProRegular',Sans-Serif !important;font-size: 16px;color: #fff}

.yellow-shadow {
-webkit-box-shadow: 0px 0px 5px 0px rgba(11,11,11, 0.75);
-moz-box-shadow:    0px 0px 5px 0px rgba(11,11,11, 0.75);
box-shadow:         0px 0px 5px 0px rgba(11,11,11, 0.75);}

/** =Carousel Ends **/


.video-slides h4 {background: #e43e26;padding: 6px 10px;color: #fff;margin: 0;}

/************* =Landing page Carousel ****************/
/*.video-slides .bx-viewport .slide img {max-width: 160px;height: auto;border: 3px solid #fff;margin: 10px auto 5px; }
*/

.bx-wrapper .bx-viewport .slider4 {left: 1.1%;right:1.1% }

.video-slides .slide {padding:10px 5px 0;margin: 0 13px;width: 160px !important;float: left;}
.video-slides .slide img {margin-bottom: 8px;}
.video-slides .slide p {font-family: 'MyriadProRegular',Sans-Serif;color: #454746;}
.video-slides .slide p:hover {color: #000;cursor: pointer;}

.all-courses {border: 1px solid #063c6b;color: #fff;padding:5px 6px;border-radius: 4px}

.all-courses h4 {margin: 4px 0;}
.all-courses .form-group input.form-control {height: 29px}

.courses-list {overflow: hidden;background: #fff;border-bottom: 5px solid #095795;}
.courses-list:last-child {border-bottom: none;}
.courses-list .list-content {list-style-type: none;color: #000;}

ul.list-content {list-style-type:none;padding-left: 0;}
.list-content li {margin-top: 5px;}
.list-content li.title a {color: #464646 !important;font-family: 'MyriadProBold',Sans-Serif;font-size: 14px;}
.list-content li.descr {color: #000; text-align: justify;}
.list-content li.subs-date a{color: #f00;font-family: 'MyriadProBold',Sans-Serif;}
.list-content li.subs-date span a{text-decoration: underline;float: right;}
.list-content li.subs-date span a:hover {text-decoration: none}

.list-content .breadcrumb {padding-left: 0}
.list-content .breadcrumb a {font-size: 14px}

.courses-list .remove-button {line-height: 80px;text-align: center;}
.browse-allc.course-featured-video {margin-left: 12px !important;}

.course-featured-video {margin: 8px 0 10px 45px;}
.course-featured-video a {width: 100px;display: block;float: none;}

/****** =browse courses ***********/
.list-content {border-bottom: 1px solid #eaeaea;padding-bottom: 5px;}
.list-content li.title a {color: #000;}

.course-logo-img {padding-left: 8px;}
.course-logo-img img {margin: 12px 5px;width: 110px;height: 70px;border:2px solid #fff;text-align: left;}
h4.company-name {margin-top: 8px;padding-left: 5px;font-size: 16px;text-transform: uppercase;}
/*.course-logo-img h4 a {font-size: 16px;text-transform: capitalize;}
*/
.course-offered {padding-left: 5px;}
/************ =Channel Page*************************/
.fr-channel-info {padding:10px;border: 1px solid #ccc;border-radius: 6px}

.fr-company-logo {padding: 5px 0}
.fr-company-logo img {width: 200px;height: 120px;border: 1px solid #ccc;}
.fr-company-logo h4 {text-transform: uppercase;text-align: left;max-width: 200px;}

.fr-company-decsr {padding: 15px 10px}
.fr-company-decsr p {font-size: 1em}

.social-links li {display: inline-block;margin-right:10px }
.social-links li a{float: left;text-transform: lowercase;}
.social-links li a .fa {width: 15px}

.channel-courses-box {margin-top: 5px;padding: 0 5px;border-radius: 4px}

.channel-courses-list {padding: 10px 5px}
.channel-courses-list h4 {color: #fff;margin: 0;padding: 0}

.channel-courses-begin {padding: 0 15px 5px; color:white;}
.course-topics-begin {padding: 0 15px 5px; color:white;}

.channel-each-course {border: 1px solid #ccc;border-radius: 6px;padding:10px 5px;background: #f6f6f6;margin-bottom: 4px}
.channel-course-title {font-family: 'MyriadProBold',Sans-Serif;color: #000}
.channel-course-trainer {font-family: 'MyriadProBold',Sans-Serif;color: #000}
.channel-course-trainer span {font-family: 'MyriadProRegular',Sans-Serif;text-transform: capitalize;}
.channel-course-vcount span {font-family: 'MyriadProBold',Sans-Serif;color: #000}
.channel-course-vcount {font-family: 'MyriadProRegular',Sans-Serif;margin-top: 5px;color: #000;}
.channel-each-course .channel-course-descr{color:black;}



.btn.btn-primary.btn-block.dropdown-toggle .fa.fa-caret-down {margin-left: -5px}
/************* =Course Selected   ********/

.user-option-btns {height: 39px}
.user-option-btns li {display: inline-block;width:32.6%;}
.user-option-btns li a {float: left;border-radius: 0 ;line-height: 34px}
.user-option-btns li .fa {margin-right: 3px;}
.user-option-btns .btn {box-shadow: none;padding:0 }


.breadcrumb {background: #fff;margin-bottom: 0;}
.breadcrumb>li+li:before {content:">";color: #095795; padding: 0 2px !important;}
.breadcrumb li a {color: #095795;font-size: 14px;}
.breadcrumb li.active {color: #ca0607;font-family: 'MyriadProBold',Sans-Serif;font-size: 14px}


.sub-ends p a{color: #fff;font-size: 0.8em;padding: 0 5px;}
.sub-ends p {margin-bottom: 0 }
.sub-ends {background: #ce0000 url(/assets/frontend/warning.png) no-repeat 5px center ;padding-left: 18px;margin: 0}

.view-course {background: #f5f5f5;color: #030303;-webkit-box-shadow: inset 0px 5px 6px -6px #777777;-moz-box-shadow: inset 0px 5px 6px -6px #777777;box-shadow: inset 0px 5px 6px -6px #777777;}
.view-course .btn-link {color: #000;text-decoration: none}
.view-course .btn-link:hover {color: #f00;text-decoration: none}

.view-course .tag-box {margin-top: 5px;margin-left: 13px;}
.view-course .video-tags {overflow: hidden;}
.view-course .video-tags li {display: inline-block;color: #464646}

/*.view-course .video-tags li:first-child {padding-left: 10px}*/
.view-course .video-tags li a {color:#095795}
.view-course .video-tags li a:after {content: ', '}

.view-course .video-tags li:last-child a:after {content: none}
.view-course .video-tags li a:hover {text-decoration: none;}


.video-save-options {text-align: right}
.video-save-options .btn {color: #464646}

.video-save-options button.active {box-shadow: none;-webkit-box-shadow:none;}

#remove-favourite button,#remove_watch_lator button {color: #f00}


.view-course .video-tags li .fa, .video-save-options .fa {color: #000;}

.place-video {height: 332px;border: 1px solid #ccc}
.place-video iframe {width: 100%;height: 100%;}


/*.place-video {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  max-height: 332px;
  min-height: 332px;
  border:1px solid #ccc;
}
.place-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

*/
.video-descr {background: #f5f5f5 !important;margin-top: 10px;padding: 5px}
.video-descr .channel-logo-pic {border: 1px solid #919191;height: 55px;max-width: 163px;}
.video-descr .channel-logo-pic img {min-height: 100%;min-width: 100%;max-width: 100%;max-height: 100%}
.video-descr-text {padding: 5px 3px;}
.video-descr-text h4 {margin: 0;color: #464646}
.video-descr-text p {color: #000}

.course-menu {background: #095795;padding-top: 2px;padding-right: 10px;padding-bottom: 10px; margin-bottom: 5px;}
.course-menu h5 {color: #fff;margin-top: 7px;margin-left: 10px;text-transform: capitalize;}
.course-menu h5 a {text-decoration: underline;color: #fff;}
.course-menu h5 a:hover {text-decoration: none;color: #fff;}

/* .parent-course-menu {height: 400px;overflow-y:scroll;} */
.parent-course-menu > li {line-height: 34px;padding-left: 16px;}
.parent-course-menu > li > a {color: #fff;display: block;background: url('/assets/frontend/caret-down.png') no-repeat;background-position: 95% 5px;}
.parent-course-menu > li.active {background: url('/assets/frontend/play-big.png') no-repeat -8px 3px !important;}
.parent-course-menu > li.active a {background-image: none }
.parent-course-menu > li.panel {background:none;border: none;margin-bottom: 0;border-radius: 0;
/*-webkit-box-shadow: inset 0px -7px 8px -6px rgba(0,0,0,0.34);
-moz-box-shadow: inset 0px -7px 8px -6px rgba(0,0,0,0.34);
box-shadow: inset 0px -7px 8px -6px rgba(0,0,0,0.34); */
-webkit-box-shadow:none;
box-shadow: none;
}

.panel {margin-bottom:1px !important; }
.parent-course-menu li a:hover{text-decoration: none;color: #000}

.parent-course-menu li ul.child-course-menu {margin-left: -5px}
.parent-course-menu li ul.child-course-menu li {background: url('/assets/frontend/play.png') no-repeat 1px 7px;} 
.parent-course-menu li ul.child-course-menu li a {display: block;color: #fff;padding-left: 16px}
.parent-course-menu li ul.child-course-menu li a:hover {color: #fff;}
.parent-course-menu li ul.child-course-menu li.active {background-color: #063c6b;color: #fff}
.child-course-menu li span {float: right;padding-right: 20px;}
.child-video-menu li {background: url('/assets/frontend/play.png') no-repeat 1px 10px !important;padding-left: 20px !important;}
.parent-course-menu li ul.level-bookmark {background:#095795;padding-left: 2px}
.parent-course-menu li ul.level-bookmark li.add-star {background: url('/assets/frontend/bookmark-icon.png') no-repeat;padding-left: 5px;background-position: 5px center }
.parent-course-menu li ul.level-bookmark li.add-star.active {background-color: #063c6b}

.user-rcmnd-videos {margin-top: -1px}
.user-rcmnd-videos h3 {color: #fff;background: #e43e26;margin: 0;padding: 8px 16px; font-size: 1.2em;font-family: 'MyriadProRegular',Sans-Serif !important}

.btn-success {background: #579C1F;}

.btn-yellow {color: #fff;background-color:#ebab01;border-color:#ebab01;}
.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active {color: #fff;background-color: #ff9900;border-color: #ebab01;}

.btn-square {border-radius: 0 !important;-webkit-border-radius: 0 !important;-moz-border-radius: 0 !important;}


/***** =Footer ********/
footer .navbar {margin-bottom: 0;min-height: 40px;border-top:1px solid #333;}
footer .navbar-nav li a {color: #ececec !important;font-size: 14px;line-height: 8px;padding:15px 10px }

footer .navbar-nav li a:hover {text-decoration: none;color: #ccc !important;background: #000 !important}

footer .navbar-toggle {border: 1px solid #333 !important;padding:5px;background: #454545}
footer .navbar-header .btn {padding: 2px 10px !important} 
footer .navbar-toggle .fa {font-size: 18px;}

/********************* =favourites Page *****************/
.fav-page {margin-top: 5px}
.fav-content {margin-top: 5px}

.video-slides {max-height: 174px;overflow: hidden;}
.video-slides .slide {height: 160px;overflow: hidden;}

.welcome-videos .slide {display: inline-block;}
.welcome-videos .slide img {height: 89px;}


.box-record {margin-bottom: 10px;min-height: 153px;background: #fff;}
li.box-title {background: #454746;color: #fff;padding: 4px 6px}
li.box-title.active {background: #579c1f;color: #fff}

.btn-trans {background: transparent;color: #fff;border: none;}

li.box-details {background: #fefefe;padding:12px 8px }
li.box-details .item-thumb {padding:2px;border:1px solid #ccc;background: #fff;max-width: 180px;}
li.box-details .item-thumb:hover {border-color: #333;opacity: 0.7}
li.box-details .item-thumb img {width: 100%}
li.box-details .item-title a {color: #095795;}
li.box-details .item-categ a {font-family: 'MyriadProBold',Sans-Serif;color: #464646}
li.box-details .item-descr a {color:#464646;font-family: 'MyriadProRegular',Sans-Serif}
li.box-details .subs-period a {color: #464646;}
li.box-details .subs-date a{color: #f00;font-size: 12px;}
li.box-details .item-viewed {color: #464646}
li.box-details .item-viewed span {color: #000}

.courses-list.partners-list .list-content,.courses-list-box .courses-list .list-content {border-bottom: none}

.courses-list.partners-list .list-content li.descr {padding-right: 10px;}

.partial-courses-list-box ul.list-content {border-bottom: none;}

/**************  MEDIA QUERIES ******************/
/**** =Carousel Responsive *****************/
@media (max-width: 350px) {
.welcome-videos .slide {margin-left:57px }

.video-slides .slide {width: 180px !important;padding: 10px 10px 0;margin: 0 45px;float: left;}


}
@media (min-width: 351px) and (max-width: 370px) {
.welcome-videos .slide {margin-left:80px}

.video-slides .slide {margin: 0 80px;float: left;}
}
@media (min-width: 371px) and (max-width: 480px) {
.welcome-videos .slide {margin-left: 30px;margin-right: 30px;}
.video-slides .slide {width: 180px !important;padding: 10px 20px 0;margin: 0 19px;float: left;}

}
@media (min-width: 481px) and (max-width: 640px) {

.welcome-videos .slide {margin:0 60px}
.video-slides .slide {margin: 0 16px;float: left;}
}
@media (min-width: 641px) and (max-width: 980px) {

.welcome-videos .slide {margin-left:95px}
.video-slides .slide {width: 180px !important;padding: 10px 20px 0;margin: 0;float: left;}

}
@media (min-width: 981px) and (max-width: 1024px) {
.welcome-videos .slide {margin-left:40px; margin-right: 40px}
.video-slides .slide {width: 180px !important;padding: 10px 20px 0;margin: 0 5px;float: left;}

}



/*********  =media   =Toggler Footer fix for mobile and tablet *****************/
@media only screen and (max-width: 991px) {


body {padding-bottom: 70px}

footer .navbar-header {
        float: none;
    }
footer .navbar-toggle {
        display: block;
    }
footer .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      padding-top: 3px;
      padding-bottom: 3px;
    }
footer .navbar-collapse.collapse {
        display: none!important;
    }
footer .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
 footer .navbar-nav>li {
        float: none;
    }
 footer .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
html {overflow-x:hidden;}

footer .navbar-toggle {border:none;color: #fff;cursor: pointer;line-height: 10px;}
footer .navbar-inverse .navbar-toggle:hover {color: #dedede;}

.footer-bar-btns {text-align: center;margin-top: 4px;}
.footer-bar-btns li {display: inline-block;padding-left: 20px}
.footer-bar-btns li a {float: left;display: block;}
.footer-bar-btns .btn {box-shadow: none;outline: none}

.footer-bar-btns li a.btn i.fa:hover {color: #fff !important}

.content-right {margin-left:10px;margin-top: 50px;margin-right: 0}
.content-left {margin-left:10px;}
.course-featured-video {margin-left: 0 !important;}


#lazuli-top-menu .btn-group > .btn:last-child:not(:first-child),#lazuli-top-menu .btn-group > .dropdown-toggle:not(:first-child) {border-bottom-left-radius: 4px;border-top-left-radius: 4px;}

} 

/*************************   =media 766 mobile ends    ************************************/
@media only screen and (max-width:767px) {
#lazuli-top-menu .navbar-form {border:0;margin: 0}
/*#lazuli-top-menu .navbar-nav .open .dropdown-menu li a{color: #fff !important}
*/
.carousel-box-2, .carousel-box-3 {display: none;}
.welcome-videos .carousel-box:nth-of-type(2), .carousel-box:nth-of-type(3){display: none;}

.content-right {padding-right:0;margin-top: 0;margin-right: 0} /**  remove padding in mobile view ***/
.content-left {padding-left: 0;margin-top: 10px;}

ul.list-content {list-style-type:none;padding-left: 0}
.list-content li {margin-top: 5px;}
.list-content li.title a{font-family: 'MyriadProBold',Sans-Serif;color: #000;font-size: 12px !important}
.list-content li.subs-date a{color: #f00;font-family: 'MyriadProBold',Sans-Serif}
.list-content li.subs-date span {display: inline-block;}
.list-content li.subs-date span a{text-decoration: underline;float: none;}
.list-content li.subs-date span a:hover {text-decoration: none}

.footer-bar-btns li {display: inline-block;padding-left: 5px;}
.footer-bar-btns li.offcanvas-toggler-btn a {margin-left: 5px;;margin-right:-30px }

.sub-ends {min-height: 30px;font-size: 18px;}
.sub-ends a {line-height: 30px;}

footer #footer-body .navbar-nav li {font-size: 12px;}
.courses-list-box {height: 200px;overflow-y:scroll;overflow-x: hidden;}

html {  overflow-x: hidden; /* Prevent scroll on narrow devices */}

.navbar-toggle {margin-top: 5px;margin-bottom: 5px;margin-right: 15px;}

.social-links li {display:block;}
.social-links li a{float: none;}
.social-links li a .fa {margin-right: 10px;width: 10px}

a.btn {height:26px;line-height: 1.85em}
.btn {height: 26px;}
.search-btn,.social-login-btns .btn {height: 34px;}
.offcanvas-toggler-btn .btn{height: 34px;}

.fav-page #filter_clear.btn {height: 34px;}
.btn-group.margin-top-10 .btn {height: 34px;}
.video-save-options span {display: block;}

.course-featured-video a {float: right;}

body {padding-bottom: 70px;}

.video-save-options {text-align: left}


.course-each .list-content {border-bottom:none;}
.courses-list .course-each {border-bottom: 1px solid #ccc}
.courses-list .course-each:last-child {border-bottom: none}

.nopadding-l-xs {padding-left: 0}
.nopadding-r-xs {padding-right: 0}

h4.company-name {font-size: 12px}


} /* media query ends  */

/*************************  =media 768 and 880       ************************************/
  
@media only screen and (min-width:768px) and (max-device-width: 880px)  {
.nav>li:first-child>a {padding-left: 0;padding-right: 0}


} 

/*************************  =media 757 and 994       ************************************/

/**------------------ =Off Canvas----------------*/

@media only screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -100%;    /*-50% for 6 columns */
    width: 100%;
    margin-left: 30px;
  }
  .row-offcanvas-right.active {
    right: 100%; /* 6 columns */
  }
  .row-offcanvas-left.active {
    left: 100%; /* 6 columns */
/*    margin-left:-15px;  */
    padding-left: 14px !important;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }

.home-btn button {color: #fff;display: block;font-size: 20px;margin-top: 10px;line-height: 34px;padding: 2px 4px;height: 34px;border:1px solid #222;border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;-o-border-radius: 4px;-ms-border-radius: 4px;background:#4a4a4a;}
.home-btn button:hover {background:#000;}
.home-btn button:focus {outline: none}
.profiler-results{display: none;} 
}


.course-menu .slimScrollBar {opacity: 0.6 !important;display: block !important;background: #095aab !important;opacity: 1 !important;right: 0 !important}
.course-menu .slimScrollRail {display: block !important;background: #116fb9 !important;opacity: 1 !important;border-radius: 2px !important;right: 0 !important}

.modal-subscribe {color: #000;line-height: normal;}
.modal-subscribe h4,.modal-subscribe h5,.modal-subscribe p {background: none;color: #000}

.rating-cancel{display: none !important;}
.accordion_div{padding:10px !important;}

.trainer_info {color: #000}
.trainer_separator{clear:both;min-height: 15px;}


.login_error{color: #FF0000}
.recommends-carousel-inner {height: 122px !important;background-color:#f5f5f5;font-size: 16px;padding-top:40px;}

.main_class{font-size:16px;}
.right-align{float:right;}


/*** =Responsive ***********************/

@media (max-width: 320px) {
.welcome-text h4 {width: 100%}

.btn.block-xs {width: 100%}

.nopadding-right-xs {padding-right: 0}
.nopadding-left-xs {padding-left: 0}

footer .navbar-nav li {width: 100%}

}

@media (min-width: 321px) and (max-width: 991px) {

footer .navbar-nav li {width: 50%;float: left;}

}
@media (min-width: 768px) and (max-width: 991px) {
.margin-fix {margin:0 10px;}
.course-featured-video a {width: 100px;}

}

/********************* =misc *********/

.test-1 {border:1px solid #000;}
.test-2 {border:1px solid #0f0;}
.test-3 {border:1px solid #00f;}

.float-center {
  float: right;
  position: relative;
  left: -50%; 
  text-align: left;
}
.float-center > .center-content {
  position: relative;
  left: 50%;
}

h4.page-header {font-size: 24px;}
.panel-heading:hover {cursor: pointer;}

.subs-modal .form-group .radio {margin-top: 0}
.subs-modal .form-group input {margin-top: 2px}
.subs-modal .form-group label {font-weight: normal;}

/********* =Overlay ******************/

.play-overlay {position: relative;}
.play-overlay:hover .play-btn {opacity: 1;background: rgba(0,0,0,0.1) url('/assets/frontend/play-icon.png') no-repeat center center;background-size: 30%;-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;}
.play-overlay img {cursor: pointer;}
.play-btn {background: rgba(0,0,0,0.4) url('/assets/frontend/play-icon.png') no-repeat center center;position: absolute;width: 100%;height: 100%;top:0;display:block;cursor: pointer;background-size: 30%;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);   /* IE6 & 7 */
      zoom: 1;

}

@media (min-width: 768px) and (max-width: 1199px) {
  .course-featured-video {margin-left: 15px;}
  .browse-allc.course-featured-video {margin-left: -10px !important}
  .no-slide .slide img{height: 95px !important;width: 150px !important;}
}