#subscription_confirm .modal-dialog{
	width: 450px;
}

.sample_text{
	font-size: 18px;
	margin: 60px 0px 50px 0px;
	text-align: center;
	color: black;
}
#share_modal .modal-dialog{
	width:300px !important;
}

#share_modal .social-share-button .social-share-button-twitter {
	background: url("/assets/tshare.png") !important;
	width: 81px;
	height: 29px;
}

#share_modal .social-share-button .social-share-button-google_plus {
	background: url("/assets/gshare.png") !important;
	width: 81px;
	height: 29px;
}

#share_modal .social-share-button .social-share-button-facebook {
	background: url("/assets/fshare.png") !important;
	width: 81px;
	height: 29px;
}

.browse_subscription {
  margin-top:15px;
  border-bottom: none !important;
}
.browse_subscription li {line-height: 8px;}
.one_yr_subscription{
	font-size: 11px;
}
.width75{
	text-align: right;
	width: 50px;
}
span div.star-rating-on a {
  background-position: 0 -32px !important;
}

.slimScrollDiv, #courses_list_box {
	height: auto:;
}
.channel-courses-list .form-group input.form-control{height: 29px;}

.course-logo-img h4.company-name a{font-size: 16px;}

.page.current {
	background: #9acd32;
	border: 1px solid transparent;
	border-radius: 4px;
	display: inline-block;
	padding: 0px 12px;
	height: 34px;
	line-height: 2.2em;
}

.width50{
	width: 50px !important;
	padding: 0px;
}
.tage_name_list{
	padding: 0px;
}