<div class="alert alert-success alert-dismissable" style="display: none;"></div>
<div class="alert alert-info alert-dismissable" style="display: none;"></div>
<div class="alert alert-warning alert-dismissable" style="display: none;"></div>
<div class="alert alert-danger alert-dismissable" style="display: none;"></div>